.diyweather *, .diyweather p { margin: 0; padding: 0; }
.diyweather { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 12px; position: relative; top: 0; left: 0; /* overflow: hidden; */ }
.diyweather h4, .diyweather a, .diyweather a:link, .diyweather a:visited { color: #0691dc; }
.diyweather img { border: none; }

.diyweather .hd { width: 100%; font-size: 11px; color: #fff; text-align: center; }
.diyweather .hd, .diyweather .hd a { height: 18px; }
.diyweather .hd a { background-repeat: no-repeat; background-position: center; }
.diyweather .hd a, .diyweather h4 a { text-decoration: none; }
.diyweather .hd a, .diyweather .foot a { display: block; width: 100%; }
.diyweather .hd a, .diyweather .linkrow a:link, .diyweather .linkrow a:visited { color: #FFF; }

.diyweather .hd span {    
	position: absolute;
	left: -1000px;
	top: -1000px;
	width: 0;
	height: 0;
	overflow: hidden;
	display: none; }

.diyweather .cont { }
.diyweather .mrgn { padding: 6px 8px 0 10px;  }

.diyweather .red { color: #E3303D; }
.diyweather .cyan { color: #01B2EB; }
.diyweather .big { font-size: 20px; line-height: 24px; }
.diyweather .small { font-size: 10px; color: #032b66; font-weight: normal; }
.diyweather h4 .small { margin-left: 6px; }

.diyweather h4 { font-size: 12px; font-weight: bold; margin-bottom: 1px; text-align: left; }
.diyweather h5 { font-size: 11px; font-weight: bold; color: #032b66; margin-bottom: 1px; }

.diyweather .aw-wrap { float: left; text-align: left; margin: 0; padding: 0; }
.diyweather .left { float: left; margin-right: 6px; white-space: nowrap; }
.diyweather img.left { margin-left: 3px; }

.diyweather .txtrows { clear: both; font-size: 11px; line-height: 13px; margin-bottom: 4px; }
.diyweather .linkrow, .diyweather .link { clear: both; text-align: center; }
.diyweather .linkrow { background-color: #01B2EB; padding-top: 2px; /* padding-bottom: 4px; */ height: 17px; overflow: hidden; }
.diyweather .linkrow a, .diyweather .link a { text-transform: uppercase; font-size: 10px; font-weight: bold; text-decoration: underline; }

.diyweather .table { width: 100%; float: left; margin-bottom: 6px; text-align: left; }
.diyweather .table .col { width: 46px; float: left; text-align: center; padding-top: 6px; }
.diyweather .table { font-size: 11px; }
.diyweather .table .red, .diyweather .table .cyan { font-weight: bold; }

.diyweather .foot {
	clear: both;
	text-align: center;
	height: 17px;
	width: 98%;
	position: absolute; bottom: 2px; }
.diyweather .foot a { height: 17px; }

