/* Print stylesheet - Rules appendix */

#content li {
	margin-bottom:8px;
	list-style: none;
	}

#bullet ul, ul li {
	list-style: disc;
	}

.navright {
	display:none;
	}

dt {
	font-weight:bold;
	}

dd {
	padding:3px;
	margin-bottom:6px;
	}

table, th, td {border: 1px solid} 

.dontprint {display:none;}
.pagebreak {page-break-before:always;}
.nobreak {page-break-after:avoid;}
.draftnote {font-style:italic;}
.contentimageright {
	float:right;
	margin:0 0 5px 5px;
	padding:2px;
	}
.contentimageleft {
	float:left;
	margin:0 5px 5px 0;
	padding:2px;
	}
.box {
	border:1px solid #333;
	padding:0px 5px 0px 5px;
	}
.examplebox, .examplebox-rule {
	border:1px dashed #333;
	padding:0px 5px 0px 5px;
	}
#bullet ul, ul li {
	list-style-type: disc;
	}
ul#bullet li {
	list-style-type: disc;
	}
