.wps-seo-booster-businesscard .name {
	font-weight: bold;
	display: block;
}
.wps-seo-booster-businesscard .address {
	background: url(../images/icons/home.png) no-repeat 0 2px;
	padding-left: 20px;
}
.wps-seo-booster-businesscard .address-inner {
	padding-left: 20px;
}
.wps-seo-booster-businesscard .tel {
	background: url(../images/icons/phone.png) no-repeat 0 6px;
	padding-left: 20px;
	display: block;
}
.wps-seo-booster-businesscard .email {
	background: url(../images/icons/mail.png) no-repeat 0 6px;
	padding-left: 20px;
	display: block;
}
.wps-seo-booster-businesscard .url {
	background: url(../images/icons/web.png) no-repeat 0 5px;
	padding-left: 20px;
	display: block;
}

.wps-seo-booster-clear {
	clear: both;
	display: block;
	margin: 10px 0;
}

/* Mricrodata Review */
.wps-seo-booster-review {
	max-width: 290px;
	background: #f3f3f3;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
	padding: 5px 15px 10px 15px;
	margin: 20px 0;
}
.wps-seo-booster-review.top {
	max-width: 100%;
	float: none;
}
.wps-seo-booster-review.top_left {
	float: left;
	margin: 0 15px 20px 0;
}
.wps-seo-booster-review.top_right {
	float: right;
	margin: 0 0 20px 15px;
}
.wps-seo-booster-review.bottom {
	max-width: 100%;
}
.wps-seo-booster-review dl {
	float: left;
	display: block;
	margin: 10px 0 20px 0;
}
.wps-seo-booster-review dt {
	clear: both;
	width: 120px;
	font-weight: bold;
}
.wps-seo-booster-review dt, .wps-seo-booster-review dd {
	float: left;
	line-height: 170%;
	margin: 0;
	padding: 0;
}
.wps-seo-booster-review dd {
	margin-left: 20px;
	margin-bottom: 0px !important;
}
.wps-seo-booster-clear {
	clear: both;
	display: block;
	margin: 10px 0;
}
.wps-seo-booster-review .review-summary-title {
	font-weight: bold;
}
.wps-seo-booster-review .review-summary {
	padding: 0 0 10px 0;
}

/* Mricrodata Software */
.wps-seo-booster-software {
	max-width: 290px;
	background: #f3f3f3;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
	padding: 5px 15px 10px 15px;
	margin: 20px 0;
}
.wps-seo-booster-software.top,
.wps-seo-booster-software.bottom,
.wps-seo-booster-software.shortcode {
	max-width: 100%;
	float: left;
}
.wps-seo-booster-software.top_left {
	float: left;
	margin: 0 15px 20px 0;
}
.wps-seo-booster-software.top_right {
	float: right;
	margin: 0 0 20px 15px;
}
.wps-seo-booster-software dl {
	float: left;
	display: block;
	margin: 10px 0 20px 0;
}
.wps-seo-booster-software dt {
	clear: both;
	width: 120px;
	font-weight: bold;
}
.wps-seo-booster-software dt, .wps-seo-booster-software dd {
	float: left;
	line-height: 170%;
	margin: 0;
	padding: 0;
}
.wps-seo-booster-software dd {
	margin-left: 20px;
	margin-bottom: 0px !important;
}
.wps-seo-booster-clear {
	clear: both;
	display: block;
	margin: 10px 0;
}

/* Mricrodata Recipe */
.wps-seo-booster-recipe {
	background: #f3f3f3;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
	padding: 20px 15px 10px 15px;
	margin: 20px 0;
}
.wps-seo-booster-recipe .item {
	font-size: 160%;
	width: 100%;
	float: left;
	position: relative;
}
.wps-seo-booster-recipe .recipe-author {
	font-size: 80%;
	padding-right: 20px;
}
.wps-seo-booster-recipe .recipe-date {
	font-size: 80%;
}
.wps-seo-booster-recipe .recipe-time {
	font-size: 90%;
	width: 100%;
	float: left;
}
.wps-seo-booster-recipe .recipe-time .preptime,
.wps-seo-booster-recipe .recipe-time .cooktime {
	padding-right: 25px;
}
.wps-seo-booster-recipe .recipe-image {
	float: left;
	width: 100%;
	margin: 25px 0;
}
.wps-seo-booster-recipe .photo {
	position: relative;
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.wps-seo-booster-recipe .recipe-ingredients,
.wps-seo-booster-recipe .recipe-summary,
.wps-seo-booster-recipe .recipe-directions,
.wps-seo-booster-recipe .nutrition,
.wps-seo-booster-recipe .recipe-rating {
	float: left;
	width: 100%;
	margin: 0 0 15px 0;
}
.wps-seo-booster-recipe .nutrition div {
	float: left;
	width: 100%;
}
.wps-seo-booster-recipe .ingredient,
.wps-seo-booster-recipe .recipe.summary,
.wps-seo-booster-recipe .instructions,
.wps-seo-booster-recipe .recipe-stars {
	float: left;
	width: 100%;
}
.wps-seo-booster-recipe .ingredient {
	list-style-type: none !important;
	margin: 0 !important;
	padding: 0 !important;
	margin-bottom: 0 !important;
}
.wps-seo-booster-recipe .ingredient li {
	padding-left: 13px !important;
	list-style-type: none !important;
	line-height: 180% !important;
	background: url(../images/list-square.png) no-repeat 0 8px;
	margin-left: 15px !important;
}
.wps-seo-booster-recipe p,
.wps-seo-booster-recipe .directions .instructions p,
.wps-seo-booster-recipe .recipe-ingredients p {
	margin: 0 !important;
	padding: 0 !important;
	margin-bottom: 0 !important;
}
.wps-seo-booster-recipe .directions {
	margin: 0 !important;
	padding: 0 !important;
}
.wps-seo-booster-recipe .directions .instructions li {
	margin-left: 35px;
}
.wps-seo-booster-recipe .recipe-yield strong {
	padding-right: 25px;
}
.wps-seo-booster-recipe-clear {
	clear: both;
	display: block;
	margin: 0;
}
.wps-seo-booster-recipe .review,
.wps-seo-booster-recipe .rating {
	height: 0;
	margin: 0;
	padding: 0;
}

/* Star Rating */
.wps-seo-booster-star-ratings {	
	padding: 0px;
	width: 120px;
	position: relative;
	background-image: url(../images/off.png);
	background-repeat: repeat-x;
}
.wps-seo-booster-star-ratings.top-left {
	margin: 0px 20px 10px 0px;
	float: left;
}
.wps-seo-booster-star-ratings.top-right {
	margin: 0px 0px 20px 10px;
	float: right;
}
.wps-seo-booster-star-ratings.bottom-left {
	margin: 10px 20px 20px 0px;
	float: left;
}
.wps-seo-booster-star-ratings.bottom-right {
	margin: 10px 0px 20px 20px;
	float: right;
}
.wps-seo-booster-star-ratings .seo-booster-stars-turned-on {
	margin: 0px;
	padding: 0px;
	width: 0%;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
	background-image: url(../images/on.png);
	background-repeat: repeat-x;
}
.wps-seo-booster-star-ratings .seo-booster-stars-turned-strict {
	background-image: url(../images/over.png) !important;
}
.wps-seo-booster-star-ratings .seo-booster-hover-panel {
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 120px;
	position: relative;
	z-index: 1;
}
.wps-seo-booster-star-ratings .seo-booster-hover-panel a {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 24px;
	width: 24px;
	text-decoration: none;
}
.wps-seo-booster-star-ratings .seo-booster-hover-panel a.seo-booster-hovered-star {
	background-image: url(../images/over.png);
	background-repeat: no-repeat;
}
.wps-seo-booster-star-ratings .seo-booster-casting-desc {
	margin: 0 6px;
	line-height: 16px;
	text-align:center;
	font-size: 10px;
	color: #AAA;
}
.wps-seo-booster-star-ratings .seo-booster-casting-thanks {
	width: 120px;
	line-height: 16px;
	text-align: center;
	font-size: 10px;
	color: #248E62;
}
.wps-seo-booster-star-ratings .seo-booster-casting-error {
	width: 120px;
	line-height: 16px;
	text-align:center;
	font-size: 10px;
	color: #F66;
}
.wps-seo-booster-star-ratings .seo-booster-casting-thanks {
	display: none;
}
.wps-seo-booster-star-ratings .seo-booster-casting-error {
	display: none;
}
.wps-seo-booster-rating-clear {
	clear: both;
}

/* Top Rated Widget */
.wps-seo-booster-top-rated thead {
	line-height: 40px;
	height: 40px;
	padding: 0px 5px;
	border-bottom: 1px solid #CCC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	background: #45484D;
	background: -moz-linear-gradient(top, #45484D 0%, black 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484D), color-stop(100%,black));
	background: -webkit-linear-gradient(top, #45484D 0%,black 100%);
	background: -o-linear-gradient(top, #45484D 0%,black 100%);
	background: -ms-linear-gradient(top, #45484D 0%,black 100%);
	background: linear-gradient(top, #45484D 0%,black 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}
.wps-seo-booster-top-rated thead  span.wps-seo-booster-rank,
.wps-seo-booster-top-rated thead  span.wps-seo-booster-item,
.wps-seo-booster-top-rated thead  span.wps-seo-booster-rate {
	color: #fff;
	float: left;
	text-align: center;
	font-size: 11px;
}
.wps-seo-booster-top-rated tbody td {
	border-bottom: 1px solid #cfcfcf !important;
	padding: 6px 0 15px 0 !important;
}
.wps-seo-booster-top-rated span.count {
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 20px;
	margin: 2px 8px 5px 0;
	position: relative;
	background: #000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	text-align: center;
}
.widget-seo-booster-top-rated p.wps-seo-booster-top-rated-title,
.widget-seo-booster-top-rated p.wps-seo-booster-top-rated-title a {
	color: #000;
	text-decoration: none;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	margin-left: 5px;
	margin-bottom: 0;
	padding: 0;
	float: left;
}
.wps-seo-booster-top-rated .widget-seo-booster-top-rated .wps-seo-booster-rating {
	margin: 0 2px 10px 3px;
}
.widget-seo-booster-top-rated .wps-seo-booster-read {
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	background: #333;
	color: #fff !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 5px;
	text-decoration: none;
}
.widget-seo-booster-top-rated .wps-seo-booster-read:hover,
.wps-seo-booster-top-rated .wps-seo-booster-read:hover {
	text-decoration: none;
	background: #ffcc00;
	color: #000;
}

/* Top Rated Shortcode */
.wps-seo-booster-top-rated table {
	border-spacing: 0;
}
.wps-seo-booster-top-rated td {
	border-top: 0px;
	padding: 0 !important;
	vertical-align: middle;
	border-bottom: 1px solid #ededed
}
.wps-seo-booster-top-rated td.wps-seo-booster-rating-td,
.wps-seo-booster-top-rated td.wps-seo-booster-count-td {
	text-align: center;
}
.wps-seo-booster-top-rated thead  span.wps-seo-booster-rank {
	border-right: 1px solid #555;
	width: 60px;
	text-align: center;
	font-size: 12px;
}
.wps-seo-booster-top-rated thead  span.wps-seo-booster-item {
	border-left: 0px solid black;
	padding-left: 10px;
	font-size: 14px;
}
.wps-seo-booster-top-rated thead  span.wps-seo-booster-rate {
	border-left: 1px solid #555;
	width: 90px;
	text-align: center;
	font-size: 14px;
}
.wps-seo-booster-top-rated span.count {
	width: 30px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	margin-left: 15px;
}
.wps-seo-booster-top-rated .wps-seo-booster-top-rated-title {
	margin-top: 10px;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.wps-seo-booster-top-rated .wps-seo-booster-read {
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	background: #333;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 8px;
	text-decoration: none;
}
.wps-seo-booster-top-rated .wps-seo-booster-rating {
	top: 0px;
	float: left;
	height: 15px;
	margin: 0 0 10px 12px;
}
.wps-seo-booster-top-rated .wps-seo-booster-rating {
	display: block;
	position: relative;
	top: 2px;
	background: url(../images/stars.png) no-repeat;
	text-indent: -9999px;
	width: 84px;
	float: right;
	height: 15px;
}
.wps-seo-booster-stars_1stars {
	background-position: 0px -32px !important;
}
.wps-seo-booster-stars_1halfstars {
	background-position: 0px -47px !important;
}
.wps-seo-booster-stars_2stars {
	background-position: 0px -62px !important;
}
.wps-seo-booster-stars_2halfstars {
	background-position: 0px -77px !important;
}
.wps-seo-booster-stars_3stars {
	background-position: 0px -92px !important;
}
.wps-seo-booster-stars_3halfstars {
	background-position: 0px -107px !important;
}
.wps-seo-booster-stars_4stars {
	background-position: 0px -122px !important;
}
.wps-seo-booster-stars_4halfstars {
	background-position: 0px -137px !important;
}
.wps-seo-booster-stars_5stars {
	background-position: 0px -152px !important;
}