#tabber-widget {
	width: 100%;
	float:left;
	position: relative;
}
#sidebar #tabber-widget {
	width: 100%;
	float:left;
}
/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
	display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber, .tabberlive {
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100%;
    float:left;


}
#tabber-widget .tabbertab ul li ul li ul li {
}
#tabber-widget .tabbertab ul  {
padding: 4% 0 0;
}
#tabber-widget .tabbertab ul li {

}
#tabber-widget .tabbertab ul li ul {
  	border: 0 none;
	padding: 0 !important;
	width: 100%;
}

#tabber-widget .tabbertab ul li ul li {
}
#container #tabber-widget .widget {
}
/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
#right-sidebar ul.tabbernav
{
	margin:0px;
	position: relative;
	width: 100%;
	background-color: #52C0D4;
	padding: 0px;
	float: left;
	box-shadow: 0 2px 4px #ccc;
}



#right-sidebar ul.tabbernav li
{
	list-style: none;
	padding: 0px;
	display: inline;
	font-size: 1.125em;
	font-weight: bold;
	float: left;
	text-transform: capitalize;
}

#right-sidebar ul.tabbernav li a
{
	text-decoration: none;
	color: #fff;
	padding: 0.6em 1em;
	margin: 0px;
	float: left;
}
#right-sidebar ul.tabbernav li a:hover
{
	text-decoration: none;
	color: #FFF;
	background-color: #268899;
		padding: 0.6em 1em;
	margin: 0px;
	float: left;
}

#right-sidebar ul.tabbernav li.tabberactive a,#right-sidebar ul.tabbernav li.tabberactive a:hover
{
	color: #FFF;
	background-color: #2B9AAE;
}


.post-content ul.tabbernav
{
	margin:0px;
	position: relative;
	width: 96% !important;
	padding: 2% 2% 0 2% !important;
	float: left;
    border:0 none !important;
}
.post-content ul.tabbernav li
{
	list-style: none;
	padding: 0px;
	display: inline;
	font-size: 1.125em;
	font-weight: bold;
	float: left;
    margin:0 !important;
	text-transform: capitalize;
}
.post-content ul.tabbernav li a
{
	text-decoration: none !important;
}
/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
	position: relative;

}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {

}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 overflow:auto;
}
