@media screen{.pghead .skiplink a:active,.pghead .skiplink a:focus,.stream a:active,.stream a:focus,a.stream:active,a.stream:focus{border:1px solid #029;padding:3px 5px;color:#c00;z-index:9999;font-size:1em;background:#fff;margin:0;white-space:nowrap}
.modalpop,.modalpop .curtain{bottom:0;top:0;right:0;left:0}
[tabindex],div.wrap a:active,div.wrap a:hover{outline:0}
.focustarget,.skiplink,.stream{position:absolute;right:9999px;left:auto;white-space:nowrap}
.stream a:active,.stream a:focus,a.stream:active,a.stream:focus{right:0}
.pghead .skiplink a:active,.pghead .skiplink a:focus,.stream a:active,.stream a:focus{position:absolute;right:-9999px}
abbr,img,th abbr:hover{border:none}
.print-only{display:none}
.boxbody:after,.wrap:after{display:block}
html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{background:#fff;padding:0;margin:0;color:#272727;line-height:1.25;font-family:Arial,Helvetica,sans-serif;text-align:center}
body,body.zoom1{font-size:12px}
body.msie{font-size:75%}
body.zoom2{font-size:14px}
body.msie.zoom2{font-size:87.5%}
body.zoom3{font-size:18px}
body.msie.zoom3{font-size:112.5%}
caption,div,table{font-size:1em}
blockquote{margin:0 3em 0 2em;padding:.3em .5em}
q:after,q:before{content:""}
sub,sup{line-height:.5}
sup{vertical-align:.4em}
sub{vertical-align:-.4em}
blockquote,dl,ol,p,table,ul{margin-top:0;margin-bottom:.7em}
img,li,ul{margin:0;padding:0}
ul{list-style:none}
ol{padding-left:3em}
ol,ul{margin-left:0}
a{color:#214268;text-decoration:none}
a *{cursor:pointer}
abbr{cursor:help}
abbr:hover{border-bottom:1px dotted #ddd}
img{vertical-align:top}
.boxhead,h1,h2,h3,h4{font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;margin:1.2em 0 .3em;line-height:1.25;font-weight:400}
.pgmain .boxhead,h1{font-size:2em;margin:0 0 12px;color:#2a4c6e}
.boxhead,h2{font-size:1.667em}
h3{font-size:1.5em}
h4{font-size:1.08em;font-weight:700}
h1+h2,h2+h3,h3+h4{margin:0 0 .2em}
.boxhead{margin-top:0}
.boxhead a{color:#272727}
td.center,td[align=center],th.center,th[align=center]{text-align:center!important}
td.num,td.right,td[align=right],th.num,th.right,th[align=right]{text-align:right!important}
td.num,th.num{white-space:nowrap}
table.borders,table.zebra{text-align:left;border-collapse:collapse;border:0;margin:0 48px 20px;font-size:.923em;max-width:574px}
table.borders caption,table.zebra caption{font-style:italic;padding:.2em 0;text-align:left}
table.borders td,table.borders th,table.zebra td,table.zebra th{padding:7px 10px;border:0;text-align:left;vertical-align:top}
table.borders .th th,table.borders thead th,table.zebra .th th,table.zebra thead th{font-weight:700;color:#fff;background-color:#214268}
table.zebra tr.odd td,table.zebra tr.odd th{background-color:#ebecec}
table.borders td,table.borders th{background:0!important;border:1px solid #000}
table.grid,table.grid td{background:0 0;border:none;padding:0}
form,table p{margin:0}
fieldset{padding:0;margin:0 0 1em;border:none}
.f_row,.fi_bdy,.fi_chk,.fi_file,.fi_rdo,.fi_sel,.fi_static,.fi_txt{margin-bottom:.7em}
.fi_bdy label,.fi_file label,.fi_rdo h4,.fi_sel label,.fi_txt label{display:block;font-weight:700}
.f_row{overflow:hidden}
.f_row .fi_chk,.f_row .fi_sel,.f_row .fi_txt{padding-right:20px;float:left}
.f_row label{margin-bottom:.2em}
.f_row .fi_btn{padding-top:1.35em}
input,select,textarea{vertical-align:middle;font-family:Arial,Helvetica,sans-serif;font-size:1em}
.footer .boxbody,.mnav .boxbody a,.pagestyle a,.wrap .buttons{font-family:"Trebuchet MS",Helvetica,Arial,sans-serif}
textarea{vertical-align:top;width:99%}
.fi_txt input,.textinput,select,textarea{border:1px solid #3f6f9f;background:#ebecec;color:#202020;padding:2px 5px;box-sizing:border-box;height:28px}
select{padding:2px}
.fi_txt input:active,.fi_txt input:focus,.textinput:active,.textinput:focus,select:active,select:focus,textarea:active,textarea:focus{background:#fff}
.pgextra1 .fi_txt input,.pgextra1 .textinput,.pgextra1 select,.pgextra1 textarea,.pgextra2 .fi_txt input,.pgextra2 .textinput,.pgextra2 select,.pgextra2 textarea{width:98%}
.button,.fi_btn input,button{box-sizing:border-box;height:28px;cursor:pointer;background:#242424;background-image:-webkit-linear-gradient(270deg,#404040 0,#000 100%);background-image:linear-gradient(180deg,#404040 0,#000 100%);border:1px solid #485c5a;color:#fff;font-size:1.08em;text-transform:uppercase;font-weight:700;padding:2px 6px}
.button:focus,.button:hover,.fi_btn input:focus,.fi_btn input:hover,button:focus,button:hover{border-color:#3f6f9f}
.reqerror label,.typeerror label{font-weight:700;color:#c33}
.typeerror label{color:#936}
.reqerror input,.reqerror select,.reqerror textarea{border:1px solid #c33}
.typeerror input,.typeerror select,.typeerror textarea{border:1px solid #936}
abbr.req,abbr.req:hover{border:none}
abbr.req{margin-right:-.25em;padding:0 .25em 0 0}
.clear{height:0;line-height:0;font-size:1px;clear:both}
.pgwrap{position:relative;width:962px;margin:0 auto;text-align:left}
.pghead .brand{margin:0;font-size:1em;padding:11px 0 10px 1px;height:71px}
.boxbody:after,.wrap ul.share-widgets:after,.wrap:after{content:"\00a0";font-size:1px;height:0;clear:both;visibility:hidden}
.pghead .brand img.logo{vertical-align:middle}
.pghead .brand .slogan{position:absolute;right:9999px;left:auto}
.pghead .skiplink,.pghead .stream{top:10px}
.pgmain{float:left;margin:1px 1px 12px;padding:14px 28px 1px 256px;border:3px solid #fff;box-shadow:0 0 5px 1px rgba(0,0,0,.2);background:url(i/pe2-bg.png) repeat-y}
.pgmain .wrap{width:670px;min-height:250px;position:relative}
.box,.boxbody{min-height:0}
.threecol .pgmain{padding-right:208px}
.threecol .pgmain .wrap{width:490px}
.onecol .pgmain{background-image:none;padding-left:28px}
.onecol .pgmain .wrap{width:898px}
.pgextra1{float:left;width:180px;margin-left:-184px}
.pgextra2{float:left;width:228px;margin:4px 0 0 -958px}
.onecol .pgextra2{width:auto;margin:0}
.pgextra3,.pgfoot{margin:0 0 11px;box-shadow:rgba(0,0,0,.2) 0 0 5px}
.pgextra3{padding:3px;border:1px solid #e0e0e0}
.pgextra3 .wrap{padding:14px 0 14px 18px;border-top:1px solid #375b83;border-bottom:1px solid #1e3e65;background:url(i/pe3-bg.png) 0 100% repeat-x #2a4c6e;background-image:-webkit-linear-gradient(270deg,#2a4c6e 30%,#1f3f66 100%);background-image:linear-gradient(180deg,#2a4c6e 30%,#1f3f66 100%)}
.pgfoot{clear:both;padding:3px;border:1px solid #e0e0e0}
.pgfoot .wrap{background:#0e0e0e;background-image:-webkit-linear-gradient(270deg,#1a1a1a 10%,#000 90%);background-image:linear-gradient(180deg,#1a1a1a 10%,#000 90%);padding:20px}
.box{margin-bottom:20px;position:relative}
.onecol .pgextra2 .box{display:none}
.pgextra3 .box{margin:0}
.wrap ul.share-widgets{list-style:none;margin:10px 0 0}
.wrap ul.share-widgets:after{display:block}
.wrap ul.share-widgets li:before{content:none}
.wrap ul.share-widgets li{float:left;padding:0;margin:0 20px 0 0;background:0 0}
.pgextra2 .boxhead{padding:8px 13px;border-top:3px solid #fff;border-bottom:3px solid #fff;background:#000;font-size:1.33em;color:#fff;margin:-3px 0 0}
.meta,.wrap .meta a:link,.wrap .meta a:visited{color:#505050}
.pgextra2 .boxhead:before{content:"· ";display:inline-block;font-size:40px;line-height:15px;height:15px;overflow:hidden}
.pgextra2 .boxbody{padding:13px}
.box .rss,.rsslink{position:absolute;top:0;right:0;background:url(i/icn-rss.png) 0 50% no-repeat;display:block;padding-left:19px;line-height:16px}
.meta{display:block;font-weight:400;font-size:.92em}
.meta span{padding-right:.5em}
.archivelink,.buttons,.more,.moreolder{display:block;white-space:nowrap;overflow:hidden}
.wrap .buttons{font-size:.92em;border-top:1px solid #d8d8d8;margin:2em 0 0;padding-top:.7em;clear:both}
.wrap .buttons a{float:left;margin-right:20px;color:#202020;background:url(i/rnav-icn.png) 0 50% no-repeat;padding-left:16px}
.wrap .buttons a.prenta{float:right;margin:0}
.wrap .homebuttons{margin:-21px 0 20px}
a.external .icon,a.file_doc .icon,a.file_pdf .icon,a.file_xls .icon{display:inline-block;height:1em;min-height:14px;margin-bottom:-2px;overflow:hidden;text-indent:18px}
a.external .icon{background:url(i/icn-external.png) 100% 0 no-repeat;width:9px;margin-bottom:-3px}
a.file_doc .icon{background:url(i/icn-doc.gif) no-repeat;width:17px}
a.file_pdf .icon{background:url(i/icn-pdf.gif) no-repeat;width:17px}
a.file_xls .icon{background:url(i/icn-xls.gif) no-repeat;width:17px}
.articlelist .item{margin-bottom:1em;overflow:hidden}
.articlelist .item h3{margin:0 0 .2em}
.articlelist .item h3 .meta{font-size:.85em}
.articlelist .summary{line-height:1.5}
.articlelist .summary p{margin:.5}
.articlelist .summary ul{clear:none;list-style:disc;margin-bottom:.5em;padding-left:2em}
.articlelist .summary ul li{padding:0}
.articlelist img{float:right;padding:1px;border:1px solid #ccc;margin:.2em 0 .33em .5em}
.articlelist img.left,.articlelist img[align=left]{float:left;margin:.2em .5em .33em 0}
.articlelist ul{clear:both}
.articlelist li{padding-bottom:.7em}
.articlelist li a{font-weight:700}
.article .boxbody{line-height:1.5;font-size:1.167em}
.article .subtitle{clear:none;margin-top:-.3em;font-size:1.286em}
.article h1{font-size:1.714em}
.article h2{font-size:1.429em}
.article h3{font-size:1.286em}
.article h4{margin-bottom:.929em}
.article p{margin-bottom:1em}
.article .meta{font-size:.929em}
.article img{clear:both;vertical-align:text-bottom;margin:0 0 1em}
.article img.left{float:left;clear:left;margin:.2em 2em 1em 0}
.article img.right{float:right;clear:right;margin:.2em 0 1em 2em}
.article img.center{float:none;display:block;margin:0 auto 1em;text-align:center}
.article blockquote,.article ol,.article ul{margin-bottom:1.5em}
.article blockquote{border:1px solid #d8d8d8;font-style:italic}
.article ul{margin-left:20px}
.article p+ol,.article p+ul{margin-top:-.5em}
.article li ol,.article li ul{margin-bottom:.5em}
.article li{margin-bottom:.54em}
.article ul>li{padding-left:12px;position:relative}
.article ul>li:before{background:#214268;display:block;overflow:hidden;text-indent:-999em;content:"\00a0";width:6px;height:6px;position:absolute;left:0;top:.5em}
.article .chapters ul{list-style:none;padding:0;overflow:hidden}
.article .chapters li{margin-right:1em}
.article .videoblock .videocaption{display:block;padding-top:.2em;font-weight:700}
.imagebox{line-height:1.2;font-size:.85em;float:right;padding:0 0 .75em 20px;background:#fff}
.imagebox ul.imagelist{list-style:none;padding:0;margin:0}
.imagebox li.image{margin:0 0 1em;background:0;padding:0}
.imagebox li.image:before{display:none;content:none}
.imagebox .img{display:block}
.imagebox .longdesc strong.title,.onecol .mnav{display:none}
.imagebox img{clear:none;float:none;margin:0;padding:3px;border:1px solid #d8d8d8;max-width:280px}
.imagebox .longdesc,.imagebox small.credit{padding:5px 4px 12px;max-width:242px}
.contactform .boxbody{padding-bottom:2em}
.contactform p{clear:both}
.contactform fieldset{margin:0}
.contactform .fi_bdy,.contactform .fi_chk,.contactform .fi_file,.contactform .fi_sel,.contactform .fi_static,.contactform .fi_txt{clear:left;margin-bottom:.7em}
.contactform .fi_bdy label,.contactform .fi_file label,.contactform .fi_sel label,.contactform .fi_static span,.contactform .fi_txt label{width:6.5em;padding-right:.5em;float:left;text-align:right;margin-top:.2em}
.contactform .fi_sel select,.contactform .fi_txt input{width:40%}
.contactform .fi_btn,.contactform .fi_qty{margin-left:7em}
.contactform .fi_qty label{width:auto;text-align:left}
.contactform .fi_qty input{width:15%}
.contactform textarea{width:70%}
.mnav{margin-bottom:20px}
.mnav .boxbody{padding:0}
.mnav ul.level1{margin-top:-1px;border-bottom:1px solid #fff}
.mnav li{min-height:0}
.mnav .boxbody a{font-weight:700;font-size:1.17em;color:#202020;display:block;padding:10px 13px;border-top:1px solid #fff;border-bottom:1px solid #d8d8d8}
.mnav .current a,.mnav .parent a{color:#2a4c6e;background:#fff}
.mnav .level2 a{font-weight:400;font-size:1.08em;padding:5px 0 5px 26px;color:#202020}
.calendar th,.pgmain td table.calendar{font-size:.92em}
.mnav .level2 .current a,.mnav .level2 .parent a{color:#2a4c6e;font-weight:700}
.enav{position:absolute;right:88px;top:10px}
.enav .boxhead{position:absolute;right:9999px;left:auto}
.enav ul{overflow:hidden;width:auto;float:right}
.monthlist table.grid,.pgextra1 .calendar,.pgextra2 .calendar{width:100%}
.enav li{float:left;display:inline-block;border-left:1px solid #ddd}
.enav li:first-child{border-left:0}
.enav .boxbody a{text-transform:uppercase;font-size:.92em;color:#505050;display:block;padding:0 .67em;margin:-.1em 0}
.monthlist td{padding:0 0 10px}
.events .pager,.monthlist .pager{padding-top:5px;text-align:center}
.events .pager .prev,.monthlist .pager .prev{float:left;padding-right:7px;border-right:1px solid #eee}
.events .pager .next,.monthlist .pager .next{float:right;padding-left:7px;border-left:1px solid #eee}
.monthlist .boxbody{position:relative}
.calendar{margin:0}
.advert img,.imglink img,.searchresults form.search{margin-bottom:1em}
.calendar th{text-align:center;padding:.2em;border-bottom:1px solid #666}
.calendar td{padding:0;text-align:right;border-bottom:1px solid #ddd}
.calendar .su{color:#888}
.calendar td a,.calendar td i{display:block;font-style:normal;padding:2px}
.calendar td.today i{font-style:italic}
.calendar td a:link,.calendar td a:visited{font-weight:700}
.calendar td a:active,.calendar td a:focus,.calendar td a:hover{background-color:#eee}
.advert,.imglink{text-align:center;overflow:hidden;width:100%}
.advert .boxhead,.imglink .boxhead{text-align:left}
.advert .boxbody,.imglink .boxbody{text-align:center}
.loginpagebox label{width:7em;float:left;margin-top:.2em}
.loginpagebox .fi_btn,.loginpagebox .submit{margin-left:7em}
.searchresults .boxhead{position:absolute;right:9999px;left:auto}
.searchresults .search .fi_txt label{display:inline}
.searchresults .search .fi_chk,.searchresults .search strong{display:block;margin-bottom:.3em}
.searchresults .search strong{margin-top:.4em}
.searchresults .item{margin-bottom:20px}
.searchresults .item h3{margin:0 0 .2em;font-size:1.08em;font-weight:700}
.searchresults .paging .jump strong,.searchresults .paging .status strong{font-weight:400}
.searchresults .item h3 small{font-size:.92em}
.searchresults .item .summary{font-size:1.08em;line-height:1.5;margin-bottom:.2em}
.searchresults .item .more a{padding:0;background:0 0;float:none}
.searchresults .paging{border-top:1px solid #ddd;overflow:hidden;padding:10px 0;margin:0}
.searchresults .paging-top{border-top:0;border-bottom:1px solid #ddd}
.searchresults .paging .status{float:left;margin:0}
.searchresults .paging li{margin:0 4px}
.searchresults .paging .stepper{float:right;padding-right:20px;position:relative;line-height:16px}
.searchresults .paging .next{position:absolute;right:0}
.searchresults .paging .prev{float:left}
.searchresults .paging .next a,.searchresults .paging .prev a{background:url(i/search-paging.png) no-repeat;display:block;overflow:hidden;line-height:0;text-indent:-9999px;text-align:left;font-size:1px;width:15px;height:15px}
.searchresults .paging .prev a:focus,.searchresults .paging .prev a:hover{background-position:0 -15px}
.searchresults .paging .next a{background-position:-15px 0}
.searchresults .paging .next a:focus,.searchresults .paging .next a:hover{background-position:-15px -15px}
.searchresults .paging .jump{float:left;max-width:26em;text-align:center}
.searchresults .paging .jump a,.searchresults .paging .jump b{padding:0 6px;border-left:1px solid #d2d1d1;display:inline-block;font-weight:700}
.searchresults .paging .jump b.current{font-weight:400;color:#999}
.footer .boxbody,.home .hnav li a,.pagestyle a,.reglugerd .brottf li a,.reglugerd .rinfo .showall,.reglugerd .rinfo h3,.regluglist__item__title{font-weight:700}
.searchresults .paging .jump :first-child{border:0}
.searchresults .paging .jump i{position:absolute;right:9999px;left:auto}
.searchresults .reglugerd:before{background:url(i/regluglist-icon.png) 0 5px no-repeat;display:block;overflow:hidden;text-indent:-999em;content:"\00a0";width:30px;height:28px;float:left}
.searchresults .reglugerd small{font-size:.92em;font-weight:700}
.searchresults .reglugerd .meta{display:inline-block;font-size:.92em;margin-bottom:.1em}
.searchresults .reglugerd .meta span{padding:0}
.searchresults .reglugerd.brottfallin:before{background-image:url(i/regluglist-brottf.png)}
.regluglist{position:relative;margin-bottom:4em}
.regluglist__results{border-top:1px solid #d8d8d8}
.regluglist__item{padding:16px 16px 16px 110px;background:url(i/regluglist-icon.png) 0 12px no-repeat;border-bottom:1px solid #d8d8d8}
.regluglist__item--brottf{background-image:url(i/regluglist-brottf.png)}
.regluglist__item__nr{float:left;color:#505050;margin-left:-90px;width:68px;text-align:right}
.regluglist .buttons{margin-top:-1px}
.regluglist .paging{border:0}
.regluglist .boxhead{position:static}
.rsearch{margin:-5px 20px -5px 0;padding-right:2.5em;position:relative}
.rsearch .boxhead{position:absolute;right:9999px;left:auto}
.rsearch fieldset{display:inline-block;margin:5px 0;vertical-align:middle}
.beforejsinit .rsearch__detailed{display:none}
.rsearch--is-detailed .rsearch__detailed{display:inline-block}
.rsearch label{display:block;color:#fff;font-size:12px;vertical-align:middle}
.supports-placeholders .rsearch label{position:absolute;right:9999px;left:auto}
.rsearch .fi_btn,.rsearch .fi_sel,.rsearch .fi_txt{display:inline-block;vertical-align:middle;margin:0 7px 0 0}
.rsearch .fi_txt>input,.rsearch select{width:100%}
.rsearch .rsearch__field--search{width:199px;margin-right:20px}
.rsearch .rsearch__field--regnr{width:36px}
.rsearch .rsearch__field--year{width:64px}
.rsearch .rsearch__field--kafli,.rsearch .rsearch__field--raduneyti{width:140px}
.rsearch .rsearch__field--tegund{width:120px}
.rsearch .rsearch__show-detailed{margin-left:30px}
.rsearch .rsearch__clear{font-size:.92em;margin-right:-1em}
.rsearch .rsearch__helplink{position:absolute;right:0;top:19px;line-height:1;margin:-.5em 0}
.rsearch a[href]{color:#f7f7f7}
.rnav .boxbody h2{float:left;margin:-38px 0 0 28px}
.rnav ul{width:320px;float:left;margin-left:28px}
.rnav ul:first-child{margin-left:0}
.rnav li a{display:block;padding:8px 8px 8px 26px;background:url(i/rnav-icn.png) 0 50% no-repeat;border-bottom:1px solid #d8d8d8}
.rnav ul ul{float:none;width:292px}
.rnav ul ul ul{width:264px}
.rnav-half{float:left}
.rnav-first{margin-right:28px}
.rnav-half h2.boxhead{font-size:1.667em;color:#202020;line-height:30px;margin-bottom:12px}
.reglugerd .boxbody h1{color:#202020;font-size:1.286em;margin-bottom:20px;margin-top:16px}
.reglugerd .boxbody .meta{margin:0}
.reglugerd .boxbody .meta span{padding:10px 0 4px 31px;margin:0;background:url(i/regluglist-icon.png) 0 8px no-repeat}
.reglugerd .meta span.brottfallin{background:url(i/regluglist-brottf.png) 0 8px no-repeat}
.reglugerd .rinfo{border:1px solid #d8d8d8;background:#f9f9f9;padding:18px 20px 8px;font-size:.857em;margin:0 0 20px}
.reglugerd .rinfo h3{margin:0 0 .3em;font-size:1.08em;clear:both}
.reglugerd .rinfo ul{margin:0 0 10px}
.reglugerd .rinfo li{padding:0;min-height:0}
.reglugerd .rinfo li:after{display:block;clear:both;content:"\00a0";visibility:hidden;font-size:1px;height:0}
.reglugerd .doc .icon{background:url(i/icn-doc.gif) no-repeat;width:17px}
.reglugerd .pdf .icon{background:url(i/icn-pdf.gif) no-repeat;width:17px;float:left}
.reglugerd .xls .icon{background:url(i/icn-xls.gif) no-repeat;width:17px;float:left}
.reglugerd .rinfo li:before{content:none;display:none}
.reglugerd .rinfo li .nr{color:#505050;float:left;display:block;width:68px}
.reglugerd .rinfo li .nr+a{float:left;display:block;width:520px}
.reglugerd .rinfo .showall{display:block;margin:-4px 0 4px}
.reglugerd .brottf{font-size:.857em;margin:0}
.reglugerd .brottf li{padding:10px 13px 5px 110px;margin:0;background:url(i/regluglist-brottf.png) 0 8px no-repeat}
.reglugerd .brottf li:before{content:none;display:none}
.reglugerd .brottf li .nr{padding-left:30px;margin-left:-110px;float:left;color:#505050}
.reglugerd .rinfo ul:not(.files) li{padding:0 0 7px 37px;background:url(i/regluglist-icon.png) no-repeat;border-bottom:1px solid #d8d8d8}
.reglugerd .rinfo ul:not(.files) li.brottf{background:url(i/regluglist-brottf.png) no-repeat;font-size:1em}
.utgafuar li{display:inline-block;margin:0 10px 5px}
.utgafuar li a{color:#294a6b}
.sorting{position:relative;z-index:1;float:right;padding:1px 0}
.sorting--rss-present{position:absolute;top:0;right:0;margin-right:5em}
.sorting__title{margin-right:.25em}
.sorting__title__long{position:absolute;right:9999px;left:auto}
.sorting__sep{display:inline-block;vertical-align:top;border-left:1px solid #ddd;width:0;overflow:hidden;line-height:1;margin:0 .2em}
.modalpop{position:absolute;z-index:99;text-align:center}
.modalpop .curtain{position:fixed;background-color:rgba(0,0,0,.75)}
.msie .modalpop .curtain{background-color:#000;filter:alpha(opacity=75)}
.modalpop .popwin{position:relative;top:32px;margin:0 0 32px;padding:20px 20px 10px;width:666px;border:1px solid #c8c8c8;background:#fff;text-align:left;display:inline-block}
.modalpop a.closebtn{position:absolute;z-index:5;top:4px;right:4px;overflow:hidden;white-space:nowrap;letter-spacing:-.4em;text-indent:150%;text-align:left;background:url(i/popup-close.png) no-repeat;width:28px;height:24px}
.sitemap .boxbody{padding-bottom:3em}
.sitemap .level1 ul{margin:0;padding:5px 0 1px;clear:both}
.sitemap li{width:15em;margin-bottom:1em;position:relative}
.sitemap .level2 li{padding:1px 0 0 26px;margin-bottom:.5em;width:17em;background:url(i/sitemap-step.png) 11px 0 no-repeat}
.beforejsinit .sitemap .level3{display:none!important}
.sitemap a,.sitemap i{display:block;padding:2px 18px 2px 25px;background:98% 45% no-repeat #f8f8f8;font-size:1.17em;border:1px solid #d9d9d9;color:#3f3f40;min-height:0}
.sitemap i{color:#999;font-style:normal;background-image:url(i/sitemap-lock.png)}
.sitemap .level2 a,.sitemap .level2 i{background-color:#fff;border-color:#d9d9d9;font-size:1em}
.sitemap .level3 a,.sitemap .level3 i{background-color:#f8f8f8}
.sitemap .level4 a,.sitemap .level4 i{background-color:#fff}
.sitemap .boxbody a:active,.sitemap .boxbody a:focus,.sitemap .boxbody a:hover{border-color:#595959;background-color:#747474;color:#fff;text-decoration:none}
.sitemap .boxbody i:hover{border-color:#aaa}
.sitemap li.closed ul{display:none}
.sitemap .boxbody a.expand{position:absolute;top:0;left:0;display:block;margin:3px;padding:0;width:14px;height:1.25em;min-height:14px;overflow:hidden;text-indent:-999em;border:none;background:url(i/sitemap-expand.png) 0 50% no-repeat}
.sitemap .boxbody .level2 a.expand{left:26px}
.sitemap .boxbody .open>a.expand{background-position:-500px 50%}
.sitemap .boxbody a.expand:focus,.sitemap .boxbody a.expand:hover{background-color:transparent}
.wrap .sitemap .level1 a>*,.wrap .sitemap .level1 i>*{display:inline;background:0;padding:0;font-size:1em;border:0;color:inherit}
.byggiraeplica a,.footer .boxbody li,.pagestyle li{display:inline-block}
.footer .boxhead{position:absolute;right:9999px;left:auto}
.footer .boxbody{text-align:center;color:#fff;font-size:1.08em}
.footer .boxbody p{margin-bottom:5px}
.footer .boxbody a{color:#fff}
.footer .boxbody li:before{content:"| "}
.footer .boxbody li:first-child:before{content:none}
.byggiraeplica{padding-bottom:11px;text-align:right;min-height:0}
.byggiraeplica a{overflow:hidden;width:0;height:1px;font-size:1px;line-height:0;vertical-align:-2px;padding-left:135px;padding-top:19px;background:url(https://eplica-cdn.is/f/ba_e2-b25.png) no-repeat}
.en .byggiraeplica a{background:url(https://eplica-cdn.is/f/e2-b50.png) no-repeat}
.pagestyle{position:absolute;top:7px;right:1px;padding-right:26px;width:50px}
.pagestyle .boxhead{position:absolute;right:9999px;left:auto}
.pagestyle li{margin-left:5px;vertical-align:bottom;line-height:17px}
.pagestyle a{font-size:16px;color:#2a4c6e}
.pagestyle .up a{font-size:18px}
.wrap .pagestyle a:focus,.wrap .pagestyle a:hover{text-decoration:none;color:#202020}
.pagestyle .userstyles{position:absolute;right:0;top:1px}
.pagestyle .userstyles a{background:url(i/stillingar.png) no-repeat;display:block;overflow:hidden;text-indent:-999em;width:17px;height:17px}
.pagestyle .userstyles a:focus,.pagestyle .userstyles a:hover{background-position:0 -17px}
.imgban{padding:3px;border:1px solid #e0e0e0;box-shadow:rgba(0,0,0,.2) 0 0 5px;margin:0 0 11px}
.home .pgmain .wrap{background:0}
.home .pgmain .boxbody{font-size:1em}
.home .pgmain .boxbody h1{font-size:2em}
.home .pgmain .boxbody h2{font-size:1.667em}
.home .pgmain .boxbody h3{font-size:1.5em}
.home .hnav li{border:1px solid #d6d9d9;padding:1px;margin-bottom:18px}
.home .hnav li a{background:#ebecec;background-image:-webkit-linear-gradient(270deg,#ebecec 30%,#e0e1e1 100%);background-image:linear-gradient(180deg,#ebecec 30%,#e0e1e1 100%);display:block;padding:16px 10px 16px 22px;color:#2a4c6e;font-size:1.15em;position:relative}
.home .hnav li a:before{background:url(i/hnav-grad.png) repeat-y;display:block;overflow:hidden;text-indent:-999em;content:"\00a0";width:6px;height:100%;position:absolute;top:0;left:0}
#webreaderContainer{float:right;clear:right;margin:0 0 20px 20px}
#webreaderContainer a{border:0}
div.wrap a:active,div.wrap a:focus,div.wrap a:hover{text-decoration:underline}
body a[name],body a[name]:hover{color:inherit;text-decoration:inherit}
}
@media print{a:after,body{font-family:Arial,Helvetica,sans-serif}
a,a:after{text-decoration:none}
body,img{padding:0;margin:0}
caption,td,th{text-align:left}
.article img,.box,.fi_bdy,.fi_chk,.fi_rdo,.fi_txt,label{clear:both}
#raggaplay,#webreader-root,#webreaderContainer,.adbanner,.adbox,.advert,.archivelink,.buttons,.byggiraeplica,.chapters,.focustarget,.more,.morelink,.moreolder,.paging,.pgextra1,.pgextra2,.pgextra3,.pgextra4,.pgfoot,.screen-only,.skiplink,.stream,a .icon,body form .pickdate,body form .pickdatelink,object{display:none}
.fi_bdy label,.fi_txt label{display:block}
body{font-size:10pt}
caption,div,table{font-size:1em}
a{font-weight:700}
a:after{font-weight:400;font-size:.9em}
blockquote,dl,ol,p,table,ul{margin-top:0;margin-bottom:.67em;widows:2;orphans:2}
ol,ul{margin-left:0;padding-left:2.25em}
img{border:none}
caption,h1,h2,h3,h4,h5{font-family:Helvetica,Geneva,Arial,sans-serif;page-break-after:avoid;page-break-inside:avoid;font-weight:700;margin:0}
h1{font-size:1.5em}
h2{font-size:1.33em;margin-top:1.85em;margin-bottom:.5em}
h3{font-size:1.1em;margin-top:1.1em;margin-bottom:.61em}
caption,h4{font-size:.9em;margin-top:1em;margin-bottom:0}
h1 a,h2 a,h3 a,h4 a{color:#000}
td,th{page-break-inside:avoid;vertical-align:top}
table.grid{page-break-inside:auto;border:none}
table.grid td{page-break-inside:avoid;widows:2;orphans:2;border:none}
label{margin-top:.2em}
.fi_txt label{float:left;width:10em}
.fi_chk input{float:left}
.pghead{padding-bottom:.2em;border-bottom:.1em solid #000;margin-bottom:2.1em}
.pghead h1{font-size:1.33em;margin:0;font-weight:700;white-space:nowrap;text-transform:uppercase}
.pghead img{height:3em;width:auto;vertical-align:middle}
.box{padding-bottom:1.5em;border-bottom:.07em solid #000;margin-bottom:.8em}
.boxhead{font-size:1.5em;margin-top:0}
.article .boxhead{display:none}
.article h2.subtitle{font-size:1.1em;margin-top:0}
.article a[href]:after{content:" (" attr(href) ")"}
.article .chapters a:after,.article .meta a:after,.article a[href="#"]:after{content:none}
.article .meta{font-style:italic;margin-top:.67em}
.article img{margin:.2em .5em .1em 0}
.article img.right{float:right;margin:.2em 0 .5em .5em}
.article img.left{float:left;margin:.2em .5em .2em 0}
.article img.big{display:block;margin:0 auto .7em;text-align:center}
.article-ie5mac img.big{display:inline}
.article .imagebox,.article .imgbox{float:right;margin:0 0 1em;border-bottom:none;width:13em}
.article .imagebox .boxbody,.article .imgbox .boxbody{background-color:#fff;padding-left:1em}
.article ul.imagelist{padding:0;list-style:none}
.imgbox img{width:12em}
.imgbox .imgcontent{font-size:.8em}
.imgbox .imgmeta{margin-top:.3em;font-size:.7em;color:#666}
.article table{border-top:.05em solid #ccc;border-left:.05em solid #ccc}
.article td,.article th{border-right:.05em solid #ccc;border-bottom:.05em solid #ccc;padding:0 .67em .1em 0}
.article td p{margin:0 0 .3em}
.articlelist .meta{font-family:Palatino,"Book Antiqua",Times,"Times New Roman",serif;font-weight:400;font-size:.95em;margin-right:.25em}
.articlelist ul{padding-left:0;list-style:none}
.articlelist li{margin-bottom:.67em}
.articlelist li a{font-family:Helvetica,Geneva,Arial,sans-serif;font-weight:700}
.articlelist .item{margin-bottom:.9em;clear:both}
.articlelist .item img{float:right;margin:.2em 0 .5em .5em}
.articlelist .item h3{font-size:1em;margin:.6em 0 .2em}
.articlelist .item h3 a{font-size:1.05em}
.articlelist .item h3 .meta{display:block}
.footer h2.boxhead,.pgextra2{display:none}
.footer{page-break-before:avoid;font-style:italic;font-size:.8em;padding-top:.5em;border-top:.07em solid #000;border-bottom:none}
.footer a{font-weight:700}
}
@media aural,braille,embossed,tty{.print-only,.screen-only{display:none}
}