tr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #494949;
	text-decoration: none;
	text-align: justify;
}

a:hover {
	color: #FF0000;
	text-decoration: none;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #339999;
	text-decoration: none;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	line-height: normal;
	font-variant: normal;
}

.box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #494949;
	text-decoration: none;
	background-color: #EEEEEE;
	border: 1px solid #999999;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
}

A.n:link {
	COLOR: #FFF7D1; TEXT-DECORATION: underline
}

A.n:visited {
	COLOR: #FFF7D1; TEXT-DECORATION: underline
}

A.n:hover {
	COLOR: #006600; TEXT-DECORATION: underline
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #545D63;
}

.blackbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: justify;
}

.blackboldunderline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
	text-align: justify;
}

.redbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #339999;
	text-decoration: none;
	text-align: justify;
}

.gray {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A8AEB2;
	text-decoration: none;
	text-align: justify;
}

.body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
}

.new {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
}

.main {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #414141;
	text-decoration: none;
	}
	
.head {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #993300;
	text-decoration: none;
}

.head1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #006633;
	text-decoration: none;
}

.header {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: normal;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

.link1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0066FF;
	text-decoration: none;
	font-weight: normal;
}

.subhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #009933;
	text-decoration: none;
}

.white {
	font-family: Georgia;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.green {
	font-family: Georgia;
	font-size: 12px;
	font-weight: bold;
	color: #086047;
	text-decoration: none;
}