@import url("style_wcms.css");
/* @import url("../../common/css/index_content.css"); */
@import url("../../common/css/template.css");
@import url("../../common/css/style.css");
@import url("../../common/css/gov_header.css");
@import url("../../common/css/leftmenu.css");
@import url("../../common/css/text_resize.css");
@import url("../../common/css/swiper.min.css");
@import url("format_css.css");

* {
	font-family: ·s²Ó©úÅé;
}
#top_zone{
	background: url(../../tc/images/branding_bg.jpg) no-repeat left bottom;
	background-size: contain;
}


/*
#icon_wrap > div a#stu_parents{
	padding: 22px 0 21px 50px;
	
}
#icon_wrap > div a#disabilities{
	padding: 22px 0 21px 50px;
}
*/