@import url("../../common/css/index_content.css");
@import url("../../common/css/template.css");
@import url("../../common/css/style.css");
@import url("../../common/css/gov_header.css");
@import url("../../common/css/text_resize.css");
@import url("../../common/css/leftmenu.css");
@import url("../../common/css/swiper.min.css");
@import url("format_css.css");


ul.menu li ul.sub{
	display: none !important;
	z-index: -1;
	opacity: 0;
}