.diyweather { background-color: #FFF; }
.diyweather .hd { background-color: #f8941d; }
.diyweather .hd a { background-image: url(/img_box/forecacom4-c4.gif); }
.diyweather .cont { border-left: 1px solid #f8941d; border-right: 1px solid #f8941d; border-bottom: 1px solid #f8941d; }
.diyweather .mrgn { margin-left: -1px; }
.diyweather .linkrow { background-color: #f8941d; }
.aw140x350 .table, .aw300x250 .table, .awiGoogle .table { background-image: url(/img_box/table_back_4ora.jpg); background-repeat: repeat-x; }
.aw300x250 .table { background-position: 11px 0; width: 291px; padding-left: 7px; }
.aw300x250 .table .col { width: 47px; }
