@charset "utf-8";
/* CSS Document */
@import url("fonts.css");
@import url("reset.css");

@-moz-keyframes xoayanh{
0%{
-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
transform: rotate(0deg);
 }
100% {
-webkit-transform: rotate(720deg); /* Chrome, Safari, Opera */    
transform: rotate(720deg);
       }
    }
@-o-keyframes xoayanh{
0%{
-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
transform: rotate(0deg);
 }
100% {
-webkit-transform: rotate(720deg); /* Chrome, Safari, Opera */    
transform: rotate(720deg);
       }
    }
@-webkit-keyframes xoayanh{
  0%{
	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
	 }
	100% {
	-webkit-transform: rotate(720deg); /* Chrome, Safari, Opera */    
	transform: rotate(720deg);
	       }
	    }
@keyframes xoayanh {
    0%{ 
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(720deg); /* Chrome, Safari, Opera */
      transform: rotate(720deg);
    }
}
.nd1{
    padding-left:10px;
}
#loadbody{
position:fixed;
left:0px;
top:0px;
z-index:9999999999;
width:100%;
height:100%;
background: rgba(200,200,200, 0.5);
}
#loadbody img{
	position:fixed;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	margin:auto;
	-o-animation: xoayanh 0.7s infinite linear;
	-moz-animation: xoayanh 0.7s infinite linear;
	-webkit-animation: xoayanh 0.7s infinite linear;
	animation: xoayanh 0.7s infinite linear;
}
#wrapper{
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	overflow:hidden;
	text-align: center;
	background:#650000;
}
.container{
	width: 1015px;
	margin: 0 auto;
	display: inline-block;
	text-align: left;
}
.container img{
	max-width: 100%;
	height: auto;
}

/*header*/
#header{
	display:inline-block;
	width: 100%;	
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 6000;
	background:url('../images/bgbanner.png') no-repeat center;
}
#header h1{
	display:none;
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 1px;
	color: #fff;
	z-index: 1;
	opacity: 1;
}
#header .container{
	position: relative;
	text-align: center;
}
#header #banner{
	float:right;
}
#header #logo{
	float:right;
	margin-right:30px;
}
#header #hotline{
	position:absolute;
	bottom:20px;
	left:0px;
	right:0px;
	margin:auto;
}
#header #hotline span{
	display:inline-block;
	background:url('../images/iconhotline.png') no-repeat left center;
	font-size: 18px;
	padding-left:30px;
}
#header #hotline b{
	color:red;
}

/*end header*/
/*menu_top*/


#menu_top{
	display: inline-block;
	width: 100%;
	top: -7px;
	left: 0px;
	font-family: Arial;
	z-index: 5000;
	position:relative;
	background:#C00B0D;
	padding:10px 0px;
}	
#menu_top>ul{
	display:table;
	padding:0px 85px;
	background:url('../images/leftmenu.png') no-repeat left center,url('../images/rightmenu.png') no-repeat right center;
}
#menu_top>ul>li{
	display:table-cell;	
	text-align:center;
	position: relative;
	line-height: 50px;
	width:150px;
	background:url('../images/bgmenu.png') no-repeat center;
}
#menu_top>ul>li a{
	color: #fff;
	font-size: 14px;
}
#menu_top>ul>li a:hover{
	color: yellow;
}
#menu_top>ul>li>a{
	color: #fff;
	display: block;
    font-size: 14px;
    font-weight:bold;
    text-transform: uppercase;
}
#menu_top>ul>li>a:hover{
	color: yellow;
}


#menu_top>ul>li ul{
	position: absolute;
	top: 0px;
	left: 231px;
	display: none;
	z-index: 3000;
}
#menu_top>ul>li>ul{
	top: 50px;
	left:0px;
	padding-top: 11px;
}
#menu_top>ul>li li{
	width: 230px;
	position: relative;
	background:#fff;
	line-height: 35px;
	border-bottom:thin #fff solid;
	padding-left: 10px;
	text-align: left;
}

/*end menu_top*/
.line_after{
	width: 100%;
	background: url(../images/line_after.png) no-repeat top center;
	background-size: 100% 100%; 	
	height: 15px;
	margin-top: 10px;
	margin-bottom: 5px;

}
/*slide_show*/
#slider{
	display:inline-block;
	width: 100%;
	max-width:1366px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 1000;
	min-height: 60px;
	margin-top:-15px;
	background: url('../images/bottomslider.png') no-repeat bottom center;
}
.jssorb21 {
    position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 13px;
    height: 13px;
    text-align: center;
    color: white;
    font-size: 12px;
   	background: #fff;
   	border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div {

 }
.jssorb21 div:hover, .jssorb21 .av:hover {
background: #333;
 }
.jssorb21 .av {
	background: #333;
 }
.jssorb21 .dn, .jssorb21 .dn:hover { 
	background: #333;
}

#slider .caption_slider{
	position: absolute;
	top: 0px;
	left: 220px;
	width: 700px;
	height: 250px;
	display: inline-block;
	font-family: 'opensan';
	text-align: center;
	color: #264D00;
}
#slider .caption_slider .title{
	margin-top: 50px;
	font-size: 60px;
	line-height: 65px;
	color: #264D00;

	font-family: 'opensanb';
}
#slider .caption_slider .name{
	font-size: 30px;
	line-height: 40px;
	color: #264D00;
}
#slider .caption_slider .mota{
	font-size: 14px;
}
#slider .caption_slider .xemthem{
	display: inline-block;
	margin-top: 20px;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	padding: 3px;
	background: #FE6215;
}
#slider .caption_slider .xemthem:hover{
	background: #264D00;
}
#slider .caption_slider .xemthem a{
	border:thin #fff solid;
	padding: 12px 35px;
	display: inline-block;
	color: #fff;

}
/*end slide_show*/
#slogan{
	margin-bottom: 20px;
}
/*right*/
#right{
	width: 24%;
	float: right;
	margin-top: 20px;
}
#right .box_right{
	width:100%;
	display:inline-block;
	margin-bottom:10px;
}
#right .title{
	display:inline-block;
	width:100%;
	background:#650000;
	color:#fff;
	padding: 5px;
	text-transform:uppercase; 
	position:relative;
}
#right .title:before{
	content:'>>';
	font-weight:bold;
	font-size:10px;
	position:absolute;
	right:7px;
	top:5px;
}
#right #box_video{
	margin-top:10px;
}
#right #video_lienquan{
	margin-top:10px;
	width:100%;
	height:25px;
	line-height:25px;
}
#right #search{
	width:100%;
	display:inline-block;
	float:right;
	border:thin #ccc solid;
	overflow:hidden;
}
#right #search #keyword{
	width:80%;
	float:left;
	height:35px;
	line-height:35px;
	text-indent: 10px;
	border:none;
}
#right #search #sb_search{
	width:20%;
	float:right;
	border:none;
	background:url('../images/btsearch.png') no-repeat center;
	color:#fff;
	height:35px;
	line-height:35px;
	text-align:center;
}
#right .list{
	display:inline-block;
	width:100%;
	padding:10px;
	border:thin #ccc solid;
	font-family:Arial;
}
#right .list li{
	list-style-image:url('../images/listright.png');
	line-height:22px;
	margin-bottom:5px;
}
#right .list li a{
	color:#222;
	font-size:12px;
}
#right .list li a:hover{
	color:red;
}
#right #hotrott{
	position:relative;
	padding:20px;
	background:url('../images/hotro.png') no-repeat 20px center;
	border:thin #ccc solid;
	height:140px;
	padding-left:105px;
	font-size:16px;
	text-align:center;
	padding-top:25px;
}
#right #hotrott #hotline{
	color:red;
	font-size:18px;
}
#right #fan{
	width:100%;
	overflow: hidden;
	min-height: 220px;
	border:thin #ccc solid;
}
#right #sl_tintuc{
	border:thin #ccc solid;
	width:100%;
	padding:10px;
	height:550px;
}
#sl_tintuc li{
	display:inline-block;
	font-family:Arial;
	width:100%;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:thin #333 dashed;
}
#sl_tintuc li img{
	width:100px;
	float:left;
	margin-right:10px;
}
#sl_tintuc li h3{
	color:#222;
	font-size:12px;
}
#sl_tintuc li h3:hover{
	color:red;
}
/*end right*/
.quangcao{
	width:100%;
	margin-bottom:-8px;
}
/*middle*/
#middle{
	width: 100%;
	display: inline-block;
}

/*middle*/
/*top_content*/
#top_content{
	width: 100%;
	display: inline-block;
	position: relative;
}
/*end top_content*/

/*bottom_content*/
#bottom_content{
	width: 100%;
	text-align: center;
	position: relative;
}
#menubottom{
	width:100%;
	font-family:Times;
	margin:10px 0px;
}
#menubottom ul{
	width:100%;
	display:table;
}
#menubottom ul li{
	display:table-cell;
	text-align:center;
	background:#5F090A;
	border:thin #fff solid;
	line-height:35px;
}
#menubottom ul li a{
	font-size:15px;
	color:#fff;
}
#menubottom ul li a:hover{
	color:yellow;
}
/*end bottom_content*/
/*doitac*/
#doitac{
	width: 100%;
	display: inline-block;
}

/*end doitac*/
/*footer*/
#footer{
	width: 100%;
	display: inline-block;
	padding-top: 30px;
	color: #fff;
	background:#250302;
	position: relative;
	min-height: 100px;
}	
#footer .col{
	width:25%;
	padding:10px;
	float:left;
}
#footer .title{
	font-size:15px;
	font-weight:bold;
	text-transform: uppercase;
	margin-bottom:10px;
}
#footer .container{
	position: relative;
	text-align:center;
}
#footer #content_footer{
	display: inline-block;
	text-align:left: ;
	line-height: 30px;
}
#footer .list,
#footer .list2{
	width:100%;
	margin-bottom:10px;
}
#footer .list li{
	list-style-image:url('../images/listfooter1.png');
}
#footer .list li a,
#footer .list2 li a{
	color:#eee;
}
#footer .list li a:hover,
#footer .list2 li a:hover{
	color:yellow;
}
#footer .list2 li{
	float:left;
	margin-right:5px;
	list-style-image: url('../images/listfooter2.png');
}
#footer #mangxh{
	padding: 30px 10px;
	display: inline-block;
	float: left;
}
#footer #mangxh img{
	margin: 0px 5px;
}
#footer #mangxh img:hover{
	opacity: 0.5;
}
#footer .container{
	position: relative;
}

#footer #thongke{
	float:right;
}
#footer #copyright{
	border-top:thin #ccc solid;
	padding:5px 10px;
	text-align:center ;
}
#footer #copyright b{
	color:yellow;
}
/*end footer*/
/*product*/

.wrap_product{
	width:25%;
	display:inline-block;
	float:left;
	padding:1%;
}
.product{
	display:inline-block;
	width: 100%;
	position: relative;
	text-align: center;
	font-family:Arial;
	padding:10px;
	border:thin #ccc solid;
	box-shadow:5px 5px 0px #eee;
}
.product  img{
	width: 100%;
}
.product h3{
	margin: 5px 0px;
	line-height: 22px;
	height:44px;
	overflow:hidden;
	color: #000;
	font-size: 15px;
	position: relative;
	text-transform: capitalize;
}
.product:hover h3{
	color: red;
}
.product .mota{
	width: 100%;
	text-align: left;
	color: #000;
	font-size: 14px;
	line-height: 22px;
}
.product .gia{
	color: red;
}
.product .gia span{
	color: #333;
	text-decoration: line-through;
}
/*end product*/
#container_main{
	display:inline-block;
	background:#fff;
	padding:7px 0px;
	margin-top:-10px;
}
#main{
	display: inline-block;
	width: 100%;
	margin-bottom:20px;
}
.line_product{
	width: 100%;
	display: inline-block;
	height: 35px;
	background: linear-gradient(top,#fff,#CDCDCB);
	background: -moz-linear-gradient(top,#fff,#CDCDCB);
	background: -webkit-linear-gradient(top,#fff,#CDCDCB);
	background: -o-linear-gradient(top,#fff,#CDCDCB);
	padding-bottom: 5px;
	border-bottom: thin #FB9EB0 solid;
}
/*title_main*/
.title_main{
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	margin-top:10px;
	padding-bottom:5px;
	text-align: left;
	overflow: hidden;
	background:url('../images/bgtitle.png') repeat-x bottom center;
}
.title_main h2,
.title_main h1{
	display:inline-block;
	text-transform: uppercase;
	font-family: Times;
	font-size: 19px;
	font-weight:bold;
	color:#C50000;
	position: relative;
	display: inline-block;
	background:url('../images/title.png') no-repeat left center;
	line-height: 29px;
	padding:5px 20px;
	margin:0px 10px;
	margin-bottom:-5px;
	padding-left:60px;
	border-bottom:5px #C50000 solid;
}

.title_main .xemthem{
	line-height:37px;
	float:right;
	color:#000;
}
.title_main .xemthem:hover{
	color:red;
}
/*end title_main*/


/*box_tintuc*/

.wrap_tintuc{
	display:inline-block;
	width:100%;
	float:left;
	text-align:center;
	padding-bottom:10px;
	border-bottom:thin #333 dashed;
}
.wrap_tintuc:nth-child(2n){
	background:#F6F4F4;
}
.box_tintuc{
	text-align: left;
	width: 100%;
	float: left;
	display: inline-block;
	padding:10px;
	font-family: Times;
	
}
.box_tintuc img{
	padding:3px;
	display: inline-block;
	margin-right:10px;
	width:200px;
	border:thin #ccc solid;
	float:left;
}

.box_tintuc h3{
	display:inline;
	color:#000;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 22px;
	height:44px;
	overflow:hidden;
}
#sl_daotao .box_tintuc h3{
	display:inline-block;
	margin-bottom:-7px;
}
.box_tintuc h3:hover{
	color: red;
}
.box_tintuc .mota{
	color: #000;
	font-family:Arial;
	font-size: 13px;
	line-height: 21px;
	overflow:hidden;
	height:63px;

}
.box_tintuc .date{
	color: yellow;
	font-size: 11px;
	margin-bottom: 5px;
}
.box_tintuc .xemthem{
	float:right;
	font-weight:bold;
	display: inline-block;
	margin-top: 10px;
	color:#C50000;
	line-height:17px;
	border-bottom:1px #C50000 solid;

}
.box_tintuc .xemthem p{
	font-size: 17px;
	display: inline-block;
	padding: 5px 15px;
	color: #fff;
	border:thin #fff solid;
}
.owl-carousel .box_tintuc img{
	margin-right:0px;

	width:100%;
	margin-bottom:10px;
	box-shadow:0px 0px 10px 10px rgba(255, 0, 0, 0.5) inset;
}
.owl-carousel .wrap_tintuc{
	padding:2%;
	border:none;
}
.owl-carousel .box_tintuc{
	text-align:center;
	border:thin #ccc solid;
	padding:0px;
	margin-bottom:15px;
}
.owl-carousel .xemthem{
	border:thin #ccc solid;
	padding:0px 10px;
	margin-bottom:0px;
	line-height:30px;
	background:#fff;
	color:#000;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	float:none;
	position:relative;
	bottom:-15px;
}
/*box_tintuc*/
/*baiviet_lienquan*/
.baiviet_lienquan{
	width: 100%;
	display: inline-block;
	text-align: left;
}
.baiviet_lienquan .title{
	line-height: 35px;
	font-size: 16px;
	color: #000;
	font-weight: bold;
}
.baiviet_lienquan li{
	list-style-type: square;
	color: blue;
	font-size: 20px;
}
.baiviet_lienquan li a{
	font-size: 14px;
}
.baiviet_lienquan li a:hover{
	color: red;
	margin-left: 10px;
	font-weight: bold;
}
/*baiviet_lienquan*/
#sl_daotao{
	margin:30px 0px;
}
/*tabs*/
.tabs{
	width: 100%;
	display: inline-block;
	
}
.tabs .tabs_title{
	display: inline-block;
	text-align: center;
	background: #005FFF;
	border:thin blue solid;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: -5px;
}
.tabs .tabs_title li{
	display: inline-block;
	float: left;
	padding: 10px;
	border-right: thin blue solid;
}
.tabs .tabs_title li:last-child{
	border:none;
}
.tabs .tabs_title li a{
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}
.tabs .tabs_hidden{
	width: 100%;
	display: none;
}
.tabs .tabs_hidden:first-child{
	display: inline-block;
}
.tabs .tabcontents{
	overflow: hidden;
	border:thin blue solid;
	padding: 10px;
	margin-bottom: 20px;
}
.tabs .tabcontents img{
	max-width: 100% !important;
	height: auto;
}
/*end tabs*/
/* ========== Content pagination ========== */

ul.pagination {
    display:inline-block;
	width:100%;
	margin:10px 0px;
    text-align:center;
    color:#C50000;
}
ul.pagination li.page_info{
	display: none;
}
ul.pagination li {
    display:inline;
    padding:0 3px;
}
ul.pagination a {
    color:#C50000;
    display:inline-block;
    padding:5px 10px;
    border:1px solid #C50000;
    text-decoration:none;
}
ul.pagination a:hover, 
ul.pagination a.current {
    background:#C50000;
    color:#fff; 
}

.pagination {
	margin: auto;
	width: auto;
	text-align: center;
	margin-top: 10px;
}
.pages {
}
.pages li.prev {
	margin-right: 15px;
}
.pages li.next {
	margin-left: 15px;
}
.pages li {
	display: inline-block;
	margin: 5px 2px;
}
.pages li a {
	height: 25px;
	padding: 4px 8px;
	text-decoration: none;
	color: #666666;
	font-weight: bold;
	background: url(../images/backgrounds/pagingBg.png) repeat-x 0 0;
	border: 1px solid #d5d5d5;
	font-size: 11px;
}
.pages li a:hover {
	background: #f6f6f6;
}
.pages li .active {
	background: url(../images/backgrounds/sideGradient.png) repeat-x;
	color: #fff;
	border-color: #424852;
}
.pages li .active:hover {
	background: #2a313d;
}
/* ==========end  Content pagination ========== */

/*top*/
#top{
	background:url(../images/top.png) no-repeat;
	background-size: 100% 100%;
	height:35px;
	width:35px;
	position:fixed;
	bottom:40px;
	right:10px;
	cursor:pointer;
	z-index: 99999;
}
/*end top*/
/*sodotongquan*/
#sodotongquan{
	width: 1000px;
	
	top: 0px;
	left: 0px;
}
#sodotongquan #sodotongquan_img{
	width: 1000px;
	display: inline-block;
	position: relative;
}
#sodotongquan canvas{
	height: 100% !important;
}
#sodotongquan #sodotongquan_img img{
	max-width: 100%;
}
/*end sodotongquan*/
.content_title .name{
	color: #024FC1;
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 5px;
}
.owl-carousel .owl-item{
	text-align: center;
}
#at4-share{
	display: none !important;
}

/*product_detail*/
#product_detail{
	width: 100%;
	display: inline-block;
}
#product_detail #product_detail_img{
	width: 50%;
	float: left;
	text-align: center;
}
#product_detail #product_info{
	width: 48%;
	float: right;
	text-align: left;
}
#product_detail #product_info li{
	border-bottom: thin #888 solid;
	padding: 5px 0px;
}
#product_detail #product_info li .addtocart{
	width: 100%;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	background: #555;
	text-align: center;
	color: #fff;
}
#product_detail #product_info li .addtocart:hover{
	color: yellow;
}
#product_detail #product_info .gia{
	font-size: 16px;
}
#product_detail #product_info .gia span{
	color: red;
}
#product_detail #product_info .gia b{
	text-decoration: line-through;
}
#product_detail #product_info .name{
	font-size: 25px;
	line-height: 30px;
	color: #333;
	font-family: Arial; 
}
#product_detail #thumb{
	width: 100%;
	margin-top: 5px;
	text-align: center;
}
#product_detail #thumb img{
width: 60px;
height: 60px;
	display: inline-block;
}
#product_detail .muangay{
	width:100%;
	display:inline-block;
	line-height:35px;
	color:#fff;
	font-size:16px;
	background:#049EDD;
	text-align:center;
	text-transform:uppercase;
}
/*product_detail*/
/*left*/
#left{
	display:inline-block;
	width: 74%;
	float: left;
}
#left #gioithieuix{
	text-align:left;
	width:100%;
	padding-bottom:10px;
	margin-bottom:20px;
}
#gioithieuix img{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
#gioithieuix h3{
	font-size:24px;
	line-height:34px;
	color:#D50000;
	font-weight:bold;
	margin-bottom:10px;
}
#gioithieuix .mota{
	font-size:15px;
	line-height:22px;
}
/* #left .box_left{
	display:inline-block;
	width:100%;
	box-shadow:0px 0px 10px #bbb;
}
#left .title{
	text-align:center;
	line-height:35px;
	background:#DC0000;
	position:relative;
	margin-bottom:10px;
	color:#fff;
	text-transform:uppercase;
	font-size:18px;
}
#left .title:before{
	content:'';
	height:10px;
	width:100%;
	position:absolute;
	bottom:-10px;
	left:0px;
	background:url('../images/title_left.png') no-repeat top center;
}
#left #danhmuc_left{
	display:inline-block;
	width:100%;
	padding-left:10px;
}
#left #danhmuc_left>ul>li{
	color:#DC0000;
	font-size:25px;
	text-transform:uppercase;
	list-style-type:square;
	line-height:30px;
}
#left #danhmuc_left>ul>li>a{
	font-size:14px;
	font-weight:bold;
	color:#DC0000;
}
#left #danhmuc_left>ul>li>ul{
	padding-left: 20px;
}
#left #danhmuc_left>ul>li>ul>li>ul{
	padding-left:10px;
	display:none;
}
#left #danhmuc_left>ul>li ul a{
	font-size:14px;
	text-transform:capitalize;
color:#333;
font-weight:bold;
}
#left #danhmuc_left>ul>li ul a:hover{
	color:red;
}
#left #danhmuc_left>ul>li ul li{
	list-style-image:url('../images/list_left.png');
}
#left .content{
	padding:5px;
}
#left #video_lienquan{
	margin-top:10px;
	height:30px;
	line-height:30px;
	text-indent:10px;
	width:100%;
}
#left #doitac{
	height:900px;
	text-align:center;
}
#left #doitac img{
	border:thin #ccc solid;
	margin:10px 0px	;
	display:inline-block;
} */
/*left*/
#right_content{
	min-height: 600px;
	width: 100%;
	padding-left: 300px;
}
/*product_detail_left*/
#product_detail_left{
	float: left;
	width: 75%;
}
#product_detail_right{
	width: 25%;
	float: right;
}
/*end product_detail_left*/
.select_sort{
	float: right;
	width: 250px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	margin-right: 10px;
	
}

.button_cart{
	display: inline-block;
	line-height: 30px;
	background: #0189FF;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
	padding: 0px 10px;
	border-radius: 3px;
}
.button_cart:hover{
	background: #B3002C;
}
.owl-prev,
.owl-next{
	text-indent:10000px;
	height:100%;
	width:35px;
	position:absolute;
	top:0px;
	overflow: hidden;
}
.owl-prev{
	left:-30px;
	background: url(../images/prev.png) no-repeat center;
}
.owl-next{
	right:-30px;
	background: url(../images/next.png) no-repeat center;
}
/* box_gallery */
.box_gallery{
	width:25%;
	padding:1%;
	float:left;
}
 .box_gallery img{
	width:100% ;
	border:thin #ccc solid;
	padding:2px;
	background:#fff;
	box-shadow:5px 5px 0px #ddd ;
}
/* box_gallery */