html,body 
{
	margin:0px;
	padding:0px;
	line-height:24px;
	font-family: 'Arimo', sans-serif;
	font-size:16px;
	color:#000000;
	background: #222222;
}

*:focus
{
	outline:none;
}

a
{
	color:#eab05e;
	text-decoration:none;
	transition: color 100ms, background 100ms, opacity 100ms;
}

a:hover
{
	text-decoration:underline;
}

h1
{
	margin:0px 0px 20px 0px;
	padding:0px;
	line-height:40px;
	font-size:30px;
	font-weight:normal;
}

h2
{
	margin:0px 0px 10px 0px;
	padding:0px;
	line-height:30px;
	font-size:20px;
	font-weight:normal;
	text-transform:uppercase;
}

input, input[type="submit"], select, textarea
{
	line-height:24px;
	font-family: 'Arimo', sans-serif;
	font-size:16px;
}

.container
{
	clear:both;
	float:left;
	width:100%;
	padding:50px 0px;
	min-width:980px;
}

.container.gray
{
	padding:50px 0px 25px 0px;
	color:#000000;
	background: #e1e1e1;
}

.container.gray > .content > *:last-child
{
	margin-bottom:0px;
	padding-bottom:0px;
}

.container .content
{
	clear:both;
	margin:0px auto;
	width:940px;
}

.container .content::after
{
	overflow:hidden;
	content:' ';
	clear:both;
	float:left;
	height:0px;
	width:100%;
}

#header
{
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	padding:0px;
	height:117px;
	color:#2c4762;
	background:#fff;
}

.front #header
{
	background:none;
}

#header + *
{
	padding-top:167px;
}

#header a
{
	font-weight:bold;
	color:#2c4762;
}

#header a:hover
{
	color:#777;
	text-decoration:none;
}

#header ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}

#header ul#language
{
	float:right;
	padding:3px 8px;
	background:rgba(255,255,255,0.1);
}

#header ul#language li
{
	float:left;
	padding:7px;
	line-height:18px;
	font-size:13px;
}

#header ul#language li a
{
	font-weight:bold;
	text-transform:uppercase;
}

a#reviews
{
	padding:8px 15px;
	float:right;
	line-height:22px;
	font-size:13px;	
}

a#reviews::after
{
	display:inline-block;
	content:' ';
	margin:0px 0px 0px 10px;
	width:20px;
	height:17px;
	background: url(/images/template/ico-reviews.png) no-repeat 0px 0px;
	vertical-align:bottom;
}

a#facebook
{
	padding:8px 0px;
	float:right;
	line-height:22px;
	font-size:13px;	
}

a#facebook::after
{
	display:inline-block;
	content:' ';
	margin:0px 0px 0px 10px;
	width:19px;
	height:19px;
	background: url(/images/template/ico-fb.png) no-repeat 0px 0px;
	vertical-align:bottom;
}

a#mobile
{
	display:none;
}

a#logo
{
	overflow:hidden;
	margin-top:45px;
	float:left;
	width:215px;
	height:42px;
	text-indent:-9999px;
	background: url(/images/template/logo.png) no-repeat 0px 0px;
	position: absolute;
}

/*a#logo.content {
	margin-top:25px;
}*/

#topmenu
{
	clear:both;
	float:right;
	margin-top:25px;
}

#topmenu li
{
	float:left;
	padding:0px 0px 0px 20px;
}

#topmenu li a
{
	float:left;
	padding:5px 0px; 
	line-height:100%;
	font-size:20px;
	color:#2c4762;	
	border-bottom:1px solid transparent;
}

#topmenu li a:hover
{
	color:#777;
	text-decoration:none;
}

#topmenu li.active a
{
	color:#777;
	text-decoration:none;	
}

ul.list
{
	margin:0px;
	padding:0px;
	list-style:none;
}

ul.list li
{
	float:left;
	padding:0px 10px;
	width:33.3%;
	box-sizing:border-box;
	text-align:center;
}

#banner
{
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover;
}

#banner
{
    background-image:url(/images/template/front-bg-01.jpg);
	color:#fff;
}

#banner .left
{
	float:left;
	width:49%;
}

#banner form#booking
{
	clear:both;
	float:left;
	margin:0px;
	padding:0px;
	width:100%;
	color:#21212d;
}

#banner form#booking h2
{
	display:block;
	margin:0px;
	padding:15px 0px;
	color:#2c4762;
	font-weight:bold;
	background:rgba(255,255,255,0.8);
	text-align:center;
}

#banner form#booking .row
{
	clear:both;
	float:left;
	width:100%;
	padding:5px 20px;
	background:rgba(255,255,255,0.6);
	box-sizing:border-box;
}

#banner form#booking > .row.first
{
	padding-top:20px;
}

#banner form#booking > .row.last
{
	padding-bottom:20px;
}

#banner form#booking > .row.border
{
	padding-bottom:15px;
	border-bottom:1px solid rgba(255,255,255,0.8);
}

#banner form#booking > .row.border + .row
{
	padding-top:15px;
}

#banner form#booking .row label
{
	float:left;
	padding:6px 0px;
	width:45%;
	line-height:24px;
	font-weight:bold;
}

#banner form#booking .row div
{
	position:relative;
	float:left;
	margin:0px;
	width:55%;
	background:#ffffff;
	border-radius:3px;
}

#banner form#booking .row div input
{
	float:left;
	margin:0px;
	padding:6px 10px;
	width:100%;
	height:36px;
	line-height:24px;
	font-size:14px;
	background:none;
	border:0px;
	box-sizing:border-box;
}

#banner form#booking .row div select
{
    float:left;
    -moz-appearance: none;
    border: medium none;
    padding: 6px 3px;
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    line-height:24px;
    font-size:14px;
    background: transparent none repeat scroll 0% 0%;
}

#banner form#booking .row div::after
{
	position:absolute;
	top:7px;
	right:10px;
	display:inline-block;
	width:22px;
	height:22px;
	content:' ';
	background:url(/images/template/bg-icons-header.png) no-repeat 0px 0px #fff;
}

#banner form#booking .row div.date::after
{
	background-position:0px -22px;
}

#banner form#booking .row div.time::after
{
	background-position:0px -44px;
}

#banner form#booking .row div.location::after
{
	background-position:0px -66px;
}

#banner form#booking .row .date
{
	margin-right:3%;
	width:32%;
}

#banner form#booking .row .time
{
	width:20%;
}

#banner form#booking > .submit
{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	background:#2c4762;
	transition: color 200ms, background 200ms, opacity 200ms;
}

#banner form#booking > .submit:hover {
	background:#777;
}

#banner form#booking > .submit input
{
	position:relative;
	z-index:1;
	cursor:pointer;
	clear:both;
	float:left;
	width:100%;
	padding:15px 0px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	box-sizing:border-box;
	background:none;
	border:0px;
}

#banner form#booking .submit::after
{
	z-index:0;
	position:absolute;
	top:20px;
	right:80px;
	display:inline-block;
	width:26px;
	height:13px;
	content:' ';
	background:url(/images/template/ico-arrow.png) no-repeat;
}

#banner .right
{
	float:right;
	width:49%;
	font-size:14px;
}

#container
{
	background:#fff;
}

#footer
{
	line-height:27px;
	color:#cccccc;
}

#footer a
{
	color:#cccccc;
}

#footer a:hover
{
	color:#fff;
	text-decoration:none;
}

#footer a.orange
{
	font-size:24px;
	font-weight:bold;
	color:#eab05e;
}

#footer ul
{
	clear:both;
	float:left;
	margin:0px;
	padding:0px;
	width:100%;
	list-style:none;
}

#footer > .content > ul > li
{
	float:left;
	padding:0px 2% 0px 0px;
	width:23%;
}

#footer li.icon::before
{
	display:inline-block;
	content:' ';
	margin:4px 10px 7px 0px;
	width:13px;
	height:13px;
	background: url(/images/template/bg-icons-footer.png) no-repeat 0px 0px;
	vertical-align:bottom;
}

#footer li.icon.home::before
{
	background-position: 0px 0px;
}

#footer li.icon.plus::before
{
	background-position: 0px -13px;
}

#footer li.icon.phone::before
{
	background-position: 0px -26px;
}

#footer li.icon.fax::before
{
	background-position: 0px -39px;
}

#footer li.icon.email::before
{
	background-position: 0px -52px;
}

#footer li.icon.email a
{
	font-weight:bold;
}

/* Contact form */

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.arctic-form label
{
  display: block;
  padding-top: 10px;
}

.arctic-form input[type=text],
.arctic-form select
{
  width: 95%;
  border: solid 1px #ccc;
}

.arctic-form textarea
{
  width: 95%;
  height: 150px;
  border: solid 1px #ccc;
}

.arctic-form input[type="submit"] 
{
  background: -moz-linear-gradient(center top , #F5F7F9 0%, #DFE3EB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #C3CBD9;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #FFFFFF inset;
  color: #666666;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px 0;
  text-align: center;
  text-shadow: 0 1px 1px #FFFFFF;
  text-transform: uppercase;
  width: 200px;
  background: none repeat scroll 0 0 #FFFFFF;
  margin-bottom: 60px;
}

@media screen and (min-width: 980px)
{
  
  .arctic-form input[type=text],
  .arctic-form textarea,
  .arctic-form select
  {
    max-width: 50%;
  }
  
}

.review-item
{
  clear: both;
  padding-top: 40px;
  padding-bottom: 40px;
}

.review-item .customer .name
{
  font-weight: bold;
}

.review-item .text
{
  display: none;
}

.review-item .box
{
  float: right;
  width: 25%;
  padding: 15px;
  background-color: #e1e1e1;
  line-height: 1.5em;
  margin-left: 10%;
}

@media only screen and (max-width: 650px)
{
  .review-item .box
  {
    float: none;
    width: 94%;
    margin-left: 0;
  }
}

.paging
{
  font-size: 1.1em;
}

.paging a
{
  padding: 9px 14px;
}

.paging a:hover,
.paging a:active
{
    background-color: #eab05e;
    color: #fff;
    text-decoration: none;
}

.paging strong
{
  padding: 9px 14px;
  background-color: #e1e1e1;
}

@media only screen and (max-width: 980px)
{
	/*img,
	img[style]
	{
		width:auto !important;
		min-width:auto !important;
		max-width:100% !important;
		height:auto !important;
		min-height:none !important;
		max-height:none !important;
	}*/
  
  img,
	img[style]
	{
		width:auto;
		min-width:auto;
		max-width:100%;
		height:auto;
		min-height:none;
		max-height:none;
	}

	h1
	{
		font-size:20px;
		line-height:30px;
	}

	h2
	{
		font-size:18px;
		line-height:28px;
	}

	.container
	{
		padding:25px 0px;
		width:100%;
		min-width:320px;
	}

	.container .content
	{
		margin:0px auto;
		padding:0px 10px;
		width:100%;
		box-sizing:border-box;
	}

	.container.gray
	{
		padding:25px 0px 25px 0px;
		text-align:center;
	}
	
	#header,
	.front #header
	{
		overflow:visible;
		position:fixed;
		top:0px;
		left:0px;
		height:92px;
		background: #fff;
	}

	#header + *
	{
		padding-top:117px;
	}

	#header ul#language
	{
		margin-top:3px;
		padding:0px 0px;
	}

	a#reviews
	{
		clear:none;
		float:left;
		padding:8px 0px;
	}

	a#reviews::before
	{
		display:inline-block;
		content:' ';
		margin:0px 10px 0px 0px;
		width:22px;
		height:22px;
		background: url(/images/template/ico-reviews.png) no-repeat 0px 0px;
		vertical-align:bottom;
	}

	a#reviews::after
	{
		display:none;
		content:'';
	}

	a#reviews span
	{
		display:none;
	}

	a#mobile
	{
		position:absolute;
		top:59px;
		right:15px;
		display:block;
		overflow:hidden;
		float:right;
		width:23px;
		height:18px;
		text-indent:-9999px;
		background: url(/images/template/bg-mobile.png?x=1) no-repeat center left;
	}

	a#mobile.open,
	a#mobile:hover
	{
		background-position:center right;
	}

	a#logo
	{
		position:absolute;
		margin:0px;
		top:43px;
		left:10px;
		background: url(/images/template/logo.png) no-repeat 0px 0px;
	}

	a#logo.content {
	margin-top:0;
}

	#topmenu
	{
		overflow:hidden;
		position:absolute;
		top:92px;
		left:0px;
		margin:0px;
		float:left;
		width:100%;
		max-height:0px;
		background:rgba(44,71,98,0.95);
		border-bottom:1px solid rgba(255,255,255,0.6);
		transition:max-height 300ms;
	}

	a#mobile.open ~ #topmenu
	{
		max-height:200px;
	}

	#topmenu ul
	{
		clear:both;
		float:left;
		padding:10px;
		width:100%;
		border-top:1px solid rgba(255,255,255,0.6);
		box-sizing:border-box;
	}

	#topmenu ul li
	{
		clear:both;
		float:right;
	}

	#topmenu ul li:first-child
	{
		margin-top:10px;
	}

	#topmenu ul li:last-child
	{
		margin-bottom:15px;
	}

	#topmenu ul li a
	{
		float:right;
		margin-right:5px;
		color:#fff;
	}

	ul.list li
	{
		clear:both;
		padding:0px 0px 15px 0px;
		width:100%;
	}

	#banner ul.list li
	{
		padding:0px 0px 0px 0px;
	}

	#banner .left,
	#banner .right
	{
		clear:both;
		float:left;
		width:100%;
	}

	#banner .right
	{
		visibility: hidden;
		display: none;
	}

	#banner form#booking
	{
		margin-top:25px;
	}

	#banner form#booking .row label,
	#banner form#booking .row .date,
	#banner form#booking .row .time,
	#banner form#booking .row .location
	{
		margin:0px;
		width:100%;
	}

	#banner form#booking .row > div + div
	{
		margin-top:10px !important;
	}

	#banner form#booking .submit::after
	{
		display:none;
		content:'';
	}

	#footer > .content > ul > li
	{
		clear:both;
		padding:0px 0px 15px 0px;
		width:100%;
		text-align:center;
	}
}


/* WIDE BOOKING FORM */
#wide form#booking
{
	clear:both;
	float:left;
	margin:0px;
	padding:0px;
	width:100%;
	color:#21212d;
	background:#666;
}

#wide form#booking:after,
#wide form#booking .big-row:after
{
    clear:both;
    content:'';
    display:block;
}

#wide form#booking h2
{
	display:block;
	margin:0px;
	padding:15px 0px;
	font-weight:bold;
	color:#21212d;
	background:rgba(255,255,255,0.8);
	text-align:center;
}

#wide form#booking .big-row
{
    background:rgba(255,255,255,0.6);	
}
#wide form#booking .column
{
    float:left;
    width:50%;    
}

#wide form#booking .row
{
	clear:both;
	float:left;
	width:100%;
	padding:20px 20px;
	box-sizing:border-box;
}

#wide form#booking .column > .row:last-child
{
    padding-top:0;
}

#wide form#booking > .row.first
{
	padding-top:20px;
}

#wide form#booking > .row.last
{
	padding-bottom:20px;
}

#wide form#booking > .row.border
{
	padding-bottom:15px;
	border-bottom:1px solid rgba(255,255,255,0.8);
}

#wide form#booking > .row.border + .row
{
	padding-top:15px;
}

#wide form#booking .row label
{
	float:left;
	padding:6px 0px;
	width:45%;
	line-height:24px;
	font-weight:bold;
}

#wide form#booking .row div
{
	position:relative;
	float:left;
	margin:0px;
	width:55%;
	background:#ffffff;
	border-radius:3px;
}

#wide form#booking .row div input
{
	float:left;
	font-size:14px;
	margin:0px;
	padding:6px 10px;
	width:100%;
	height:36px;
	line-height:24px;
	background:none;
	border:0px;
	box-sizing:border-box;
}

#wide form#booking .row div select
{
    float:left;
    -moz-appearance: none;
    border: medium none;
    padding: 6px 3px;
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    line-height:24px;
    font-size: 14px;
    background: transparent none repeat scroll 0% 0%;
}

#wide form#booking .row div::after
{
	position:absolute;
	top:7px;
	right:10px;
	display:inline-block;
	width:22px;
	height:22px;
	content:' ';
	background:url(/images/template/bg-icons-header.png) no-repeat 0px 0px #fff;
}

#wide form#booking .row div.date::after
{
	background-position:0px -22px;
}

#wide form#booking .row div.time::after
{
	background-position:0px -44px;
}

#wide form#booking .row div.location::after
{
	background-position:0px -66px;
}

#wide form#booking .row .date
{
	margin-right:3%;
	width:32%;
}

#wide form#booking .row .time
{
	width:20%;
}

#wide form#booking > .submit
{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	background:#2c4762;
	transition: color 200ms, background 200ms, opacity 200ms;
}

#wide form#booking > .submit:hover {
	background:#EAB05E;
}

#wide form#booking > .submit input
{
	position:relative;
	z-index:1;
	cursor:pointer;
	clear:both;
	float:left;
	width:100%;
	padding:15px 0px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	box-sizing:border-box;
	background:none;
	border:0px;
}

#wide form#booking .submit::after
{
	z-index:0;
	position:absolute;
	top:20px;
	right:38%;
	display:inline-block;
	width:13px;
	height:13px;
	content:' ';
	background:url(/images/template/ico-arrow.png) no-repeat;
}


@media only screen and (max-width: 980px)
{
    #wide form#booking
	{
		margin-top:25px;
	}

    #wide form#booking .column
    {
        width:100%;
    }
    
	#wide form#booking .row label,
	#wide form#booking .row .date,
	#wide form#booking .row .time,
	#wide form#booking .row .location
	{
		margin:0px;
		width:100%;
	}

	#wide form#booking .row > div + div
	{
		margin-top:10px !important;
	}

	#wide form#booking .submit::after
	{
		display:none;
		content:'';
	}
}

/* CARS */
h1.class
{
    clear:both;
    width:100%;
    text-align:center;
    margin:40px 0;
}

.cars
{
    clear:both;
    width:100%;
    padding:20px 0;
}

.cars:after,
.cars .car:after
{
    display:block;
    content:'';
    clear:both;
}

.cars .car
{
    float:left;
    width:31.4%;
    border:1px solid #bbb;
    margin:-1px -1px 20px;
    margin-left:3%;    
    padding:20px 20px 150px;
    position:relative;
    background:#fff;
    box-sizing: border-box;
}

.cars.listing .car
{
    padding:20px 20px 80px;
}

.cars .car:nth-child(3n+1)
{
    clear:both;
    margin-left:0;
}

.cars .car .partner
{    
    margin:-20px -20px 0;
    padding:10px 20px;
    border-bottom:1px solid #ddd;
    text-align:center;
    height:50px;
}

.cars .car .partner img
{
    height:30px;
}

.cars .car .logo
{
    text-align:center;
    height:30px;
    margin:0 0 10px;
}

.cars .car .logo img
{
    max-width:100%;
    max-height:30px;
}

.cars .car .image
{
    text-align:center;
    height:110px;
    margin-top:10px;
}

.cars .car .image img
{
    max-width:100%;
    max-height:110px;
}

.cars .car h2
{
    text-transform:none;
    font-weight:bold;
    font-size:20px;
    min-height:60px;
    margin:20px 0 10px;
    padding:0;
}

.cars .car .info
{
    text-align: left;
    font-size: 14px;
    line-height: 130%;
    padding-top: 10px;
    border-top: 1px solid #BBB;
}

.cars .car .info .value
{
    font-weight:bold;
    margin-left:5px;
}

.cars .car dl
{
    float:left;
    margin:0;
    padding:0;
    height:105px;
}

.cars .car dl:after
{
    display:block;
    content:'';
    clear:both;
}

.cars .car dl dt
{
    float:left;
    clear:both;
    width:110px;
    margin:0;
}

.cars .car dl dd
{
    float:left;
    font-weight:bold;
    width:80px;
    margin:0;
}

.cars .car .price
{
    margin:10px 0;
    width:100%;
    border-bottom:1px solid #bbb;
    padding-bottom:5px;
    clear:both;
}

.cars.listing .car .price
{    
    border-top:1px solid #bbb;
    padding-top:5px;
    border-bottom:0;
    padding-bottom:0;
}

.cars .car .price:after
{
    display:block;
    content:'';
    clear:both;
}

.cars .car .price label
{
    float:left;
    font-weight:bold;
}

.cars .car .price .val
{
    float:right;
    font-size:30px;
    color:#EAB05E;
    font-weight:bold;    
}

.cars .car .price .val > span
{
    font-size:18px;
}

.cars .car .car-approx, .booking-summary .car-approx
{
    margin: 0 0 10px;
    padding: 0;
    font-size: 12px;
}

.cars .car .car-approx
{
    text-align: center;
}


#wide form#booking > .submit
{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	
}

.cars .car a.book
{
    display: block;
    box-sizing:border-box;
    background:#2c4762;
	transition: color 200ms, background 200ms, opacity 200ms;
    color: #fff;
    text-decoration: none;
    text-transform:uppercase;
    text-align:center;
    font-weight:bold;    
    bottom: 0;
    right: 0;
    font-size: 16px;
    width:100%;
    padding: 10px 20px;
}

.cars .car a.book:hover
{
    background:#EAB05E;
}

.cars .car .bottom-card
{
    position: absolute;
    bottom: 20px;
    box-sizing: border-box;
    left: 20px;
    right: 20px;
}

@media only screen and (max-width: 768px)
{
    
    
    .cars .car dl
    {
        float:none;
    }
        
    .cars .car,
    .cars .car:nth-child(3n+1)
    {
        clear:none;
        width:48.5%;        
        margin:20px 0 0 3%;
    }
    
    .cars .car:nth-child(2n+1)
    {
        clear:both;
        margin-left:0;
    }   
}

@media only screen and (max-width: 480px)
{
        
    .cars .car,
    .cars .car:nth-child(2n+1),
    .cars .car:nth-child(3n+1)
    {
        clear:none;
        width:100%;        
        margin:20px 0 0;
    }
    
}

 /*BOOKING STEPS*/
.bookings
{
   clear:both;
}

.bookings .row
{
    clear:both;
    width:100%;
}

.bookings .row:after
{
    display:block;
    content:'';
    clear:both;
}

.bookings .row .col-1-2
{
    float:left;
    width:48%;
    margin-left:4%;
}

.bookings .row .col-1-2:nth-child(odd)
{
    margin-left:0;
}

@media screen and (max-width: 480px)
{
    .bookings .row .col-1-2
    {
        float:none;
        width:100%;
         margin-left:0;
    }
}

.bookings:after
{
    clear:both;
    content:'';
    display:block;
}

.booking-form
{
    float:left;
    width:60%;
    padding-bottom:10px;
}

.booking-form:after
{
    clear:both;
    content:'';
    display:block;
}

.booking-summary
{
    float:right;
    width:37%;
    background: #d3d3d5;
    color: #21212d;
}

@media screen and (max-width: 768px)
{
    .booking-form
    {
        float:none;
        width:100%;
    }
    
    .booking-form form
    {
        padding:0 10px;
    }
    
    .booking-summary
    {
        float:none;
        width:100%;
        margin-bottom:10px;
    }
}


.booking-form h2
{
    display:block;
    margin:0 0 20px;
    padding:15px 20px 5px 0px;
    background:transparent;
    color:#21212d;
    font-weight:normal;
    text-transform:none;    
    border-bottom:1px solid #ccc;
}
.booking-summary h2
{
    display:block;
    margin:0;
    padding:15px 20px;
    background:transparent;
    color:#2c4762;
    font-weight:bold;
    text-transform:none;    
}

.booking-summary .sub
{
    color: rgb(255, 255, 255);
    background: #2c4762;
    padding: 5px 20px;
}


form .field
{
    width:100%;
    clear:both;
    margin:0 0 10px;
}

form .field:after
{
    display:block;
    content:'';
    clear:both;
}

form .field label
{
    width:100%;
    padding:5px 0;
    font-weight:300;
    box-sizing: border-box;
    font-weight:bold;
}

form .field input[type=text],
form .field textarea
{
    width:100%;
    border:1px solid #ddd;
    border-radius:3px;
    padding:5px;
    box-sizing: border-box;
}

form .field select
{
    width:100%;
    border:1px solid #ddd;
    border-radius:3px;
    padding:5px;
    box-sizing: border-box;
}

form .field .dc-car-required
{
    display:none;
    color:#f00;
    clear:both;
}

form input.back
{
    float:left;
    background: #2c4762;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 20px;
    border: medium none;
    font-weight: bold;
    transition: color 200ms, background 200ms, opacity 200ms;
    cursor:pointer;
}

form input.forward
{
    float:right;
    background: #2c4762;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 20px;
    border: medium none;
    font-weight: bold;
    transition: color 200ms, background 200ms, opacity 200ms;
    cursor:pointer;
}

@media screen and (max-width: 480px)
{
    form input.back,
    form input.forward
    {
        float:none;
        margin:10px 0 0;
        width:100%;
    }
}

form input.back:hover,
form input.forward:hover 
{
	background:#EAB05E;
}

form.payment-form .field label
{
    width:100px;
}
form.payment-form .field input[type=text]
{
    width:200px;
}
form.payment-form .field input#dc_car_cvc
{
    width:100px;
}
form.payment-form  .field select#dc_car_card_expire_month,
form.payment-form .field select#dc_car_card_expire_year
{
    width:60px;
}

.booking-summary .vehicle
{
    padding:15px 20px;
    border-bottom:1px solid #fff;
}

.booking-summary .vehicle h3
{
    font-weight:normal;
    text-align: center;
}

.booking-summary .vehicle .image
{
    text-align:center;
}

.booking-summary .vehicle .image img
{
    max-width:100%;
    max-height:150px;
}

.booking-summary .section
{
    padding:20px 15px;
    border-bottom:1px solid #fff;
}

.booking-summary .print-section
{
    background:#fff;
}

.booking-summary .section:after,
.booking-summary .print-section:after
{
    display:block;
    content:'';
    clear:both;
}

.booking-summary .section .label
{
    clear:both;
    float:left;
    width:50%;
    text-align:left;
}

.booking-summary .section .value
{
    float:right;
    font-weight:bold;
    text-align:right;
    width:50%;
}

.booking-summary .section.total
{
    border-bottom:none;
}

.booking-summary .section.total .value
{
    font-size: 30px;
    float: none;
    text-align: center;
    width: 100%;
    color:#2c4762;
}

.booking-summary .section.total .approx
{
    font-size:12px;
    width:100%;
    margin:20px 0;
    font-weight:bold;
    clear:both;
    text-align:right;
}


.booking-summary .car-approx 
{
    margin:20px 0 0;
    line-height: 100%;
    text-align: center;
    font-size: 13px;
}

.booking-summary .car-approx .prices
{
    font-size:16px;
}

.order-summary .booking-summary
{
    float:left;
    width:49%;
    margin-left:2%;
}
.order-summary .booking-summary:first-child
{
    margin-left:0%;
}

.order-summary input[type=button]
{
    float:right;
    width:200px;
    margin:10px 0 0;
    background: #2c4762;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 20px;
    border: medium none;
    font-weight: bold;
    transition: color 200ms, background 200ms, opacity 200ms;
    cursor:pointer;
}

.order-summary input[type=button]:hover 
{
	background:#EAB05E;
}

@media screen and (max-width: 768px)
{
    .order-summary .booking-summary
    {
        float:none;
        width:100%;
        margin-left:0%;
    }
}

.options
{
    width:100%;
}

.options:after
{
    display:block;
    content:'';
    clear:both;
}

.options .option
{
    float:left;
    position:relative;
    width:49%;
    margin-left:2%;
    margin-bottom:10px;
    box-sizing:border-box;
    padding:10px 10px 35px;
    border:1px solid #2c4762;
    background:#fff;
}

.options .option:nth-child(2n+1)
{
    clear:both;
    margin-left:0;
}

@media screen and (max-width: 480px)
{
    .options .option
    {
        width:100%;
        margin-left:0;
    }
}

.options .option .center
{
    height:100px;
    text-align:center;
}

.options .option .center img
{
    height:100px;
    max-width:100%;
}

.options .option .info
{
    margin-top:5px;
}

.options .option .info .small,
.options .option .info .small *
{
    font-size:12px !important;
    line-height: 150% !important;
    margin: 0;
}

.options .option .info a.btn-desc
{
    float:right;
}

.options .option .info .desc
{
    display: none;
    position: absolute;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border: 1px solid rgb(102, 102, 102);
    padding: 10px;
    right: -30px;
    top: 30px;
    z-index:2;
    width:90%;
}

.options .option label
{
    position:absolute;
    vertical-align:middle;
    bottom:10px;
    left:10px;
    font-size:14px;
}

.options .option label input[type=checkbox]
{
    vertical-align:middle;
    margin-right:5px;
}

.options .inline
{
    display:inline-block;
    position:relative;
    margin:0 20px 10px 0;
}

.options .inline a.btn-desc 
{
    margin-left:5px;
}

.options .inline a.btn-desc img
{
    vertical-align:middle;
}

.options .inline .desc
{
    display: none;
    position: absolute;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border: 1px solid rgb(102, 102, 102);
    padding: 10px;
    right: -30px;
    top: 30px;
    z-index:2;
    width:200px;
}

.options .inline label
{
    font-weight:bold;
}

.options .inline input:checked+label
{
    color:#eab05e;
}

.options .inline input:disabled+label
{
    color:#000;
}

.options .inline select
{
    display:inline-block !important;
}

.space
{
    display:block;
    height:20px;
}

iframe.terms
{
    margin:15px 0 0;
    width: 100%;
    height: 200px;
    border: 1px solid #ddd;
}

.seals
{
    margin:20px 0;
}

.seals > div,
.seals > img
{
    float:left;
    display:inline-block;
    margin:0 10px 0 0;
}

/*DATEPICKER NO GRADIENT */
#ui-datepicker-div 
{
    font-size:1em;
}
#ui-datepicker-div .ui-datepicker-header
{
    background:#333;
}

#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content #ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-header #ui-datepicker-div .ui-state-default
{
    background:#555;
}

#ui-datepicker-div .ui-state-hover
{
    border:1px solid rgb(234, 176, 94);
}

#ui-datepicker-div .ui-state-highlight, #ui-datepicker-div .ui-widget-content .ui-state-highlight, #ui-datepicker-div .ui-widget-header .ui-state-highlight
{
    background:#fff;
    color:rgb(234, 176, 94);
}

#ui-datepicker-div .ui-state-active, #ui-datepicker-div .ui-widget-content .ui-state-active, #ui-datepicker-div .ui-widget-header .ui-state-active
{
    border:1px solid rgb(234, 176, 94);
    background:rgb(234, 176, 94);
    color:#fff;
}