@charset "utf-8";
/* CSS Document */

html {
	overflow: auto; 
}

body {
	background-color: #e2e8ed;
	color: #000;
	/*font-family: "Arian AMU", "Arial Armenian", "Arial AM";*/
	font-size: 14px;
	margin: 0;
}

/* Common Styles */
:focus {
	outline: none;	
}


h1 {
	font-size: 24px;
}

h2, h3 {
	font-size: 18px;
	font-style: italic;
}

h4 {
	font-size: 16px;
	text-transform: uppercase;
}

h1, h2 {
	text-align: center;
}
/*
a {
	color: #0040f6;	
}
*/
a img {
	border: none;	
}

.margin {
	height: 20px;	
}

.noPadding {
	padding: 0;
}

.center {
	text-align: center;	
}

.fleft {
	float: left;	
}

.fright {
	float: right;
}

.selected a {
	color: #f60000;
}

.doubleBorder {
	background: url(../../images/vBorder.gif) repeat-y right top;
	margin-top: 50px;
}

.quantity {
	font-size: 16px;
	font-weight: bold;
}



/* Frame Styles */
.frame {
	background: url(../../images/hBorder.gif) repeat-x bottom center;
	padding-bottom: 2px;
	
}

.leftcolumn .frame {
	margin: 10px 12%;
	text-align: center;
	/*text-transform: uppercase;*/
}

.frameBody {
	background: url(../../images/vBorder.gif) repeat-y right center;
	margin-right: -1px;
}

.frameTitle {
	font-size: 15px;
	letter-spacing: 3px;
	font-weight: bold;
	background: url(../../images/hBorder.gif) repeat-x center center;
	margin: 0 1px 0 1px;
	text-align: center;
	/*text-transform: uppercase;*/
	position: relative;
	top: 11px;
	height: 20px;
}

.frameTitle span {
	padding: 0 10px;
	background: #e2e8ed none;
}

/*
.frameWrapper {
	padding: 20px 0;
	background: url(../../images/vBorder.gif) repeat-y left center;
}
*/

.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	letter-spacing: 2px;
	line-height: 1.3;
	max-height: 270px;
	overflow: auto;
}

.frame li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.frame ul li a {
	text-decoration: none;
}

.frame ul li a:hover {
	text-decoration: underline;
}


/* Layout Styles */

.main {
	width: 100%;
	Xmin-width: 1020px;
}

.min-width {
	width: 1020px;
	height: 1px;
}

.wrapper {
	margin: 20px 10%;	
}


/* LOGO Bar */
.logoBar {
	background: url(../../images/blueLine.gif) repeat-x top center;
	position: relative;
}

.logoBar .logo {
	position: absolute;
	top: 0;
	right: 200px;
	text-decoration: none;
	overflow: hidden;
}

.logoBar .logo img {
	border: none;
}


/* Header */
.header {
	height: 76px;
	background-color: #507da5;
}

.mainHead {
	color: #fff;
	font-family: "Sylfaen";
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	height: 76px;
}



/* Navigation Bar */
.navBar {
	height: 25px;
	border-bottom: 1px solid #507da5;
	padding-right: 20px;
}

ul.nav {
	list-style: none;
	height: 21px;
	float: left;
	margin: 0;
	padding: 5px 0 0 0;
	display: inline-block;
}

ul.nav li {
	display: inline;
	margin: 0;
}

/*
ul.nav li.item1 a {
	z-index: 4;
}

ul.nav li.item2 a {
	z-index: 3;
}

ul.nav li.item3 a {
	z-index: 2;
}

ul.nav li.item4 a {
	z-index: 1;
}
*/
ul.nav li a {
	padding-right: 25px;
	margin-right: -8px;
	line-height: 21px;
	background: url(../../images/navBgr.gif) no-repeat top right;
    color: #507da5;
    display: block;
    float: left;
    /*left: 10px;*/
    position: relative;
    text-decoration: none;	
}

ul.nav li a:hover {
	color: #000;
}

ul.nav li a span {
	background: #E2E8ED url(../../images/navBgr.gif) no-repeat top left;
	display: block;
	line-height: 21px;
	padding-left: 10px;
}

ul.nav li.active a {
	background: url(../../images/navBgr.gif) no-repeat bottom right;
	color: #000;
	z-index: 100;
}

ul.nav li.active a span {
	background: #E2E8ED url(../../images/navBgr.gif) no-repeat bottom left;
}

ul.nav li a.fl {
	background: #E2E8ED url(../../images/navBgrFL.gif) no-repeat top left;
	color: #000;
	z-index: 0;
}

ul.nav li.active a.fl {
	background: url(../../images/navBgrFL.gif) no-repeat bottom right;
	color: #000;
	z-index: 100;
}

/* Content */
.content {
	width: 100%;
	overflow: hidden;
}

.contentwrapper {
	float: left;
	width: 100%;
}

.contentcolumn {
	margin-left: 20%;
}

.leftcolumn {
	width: 20%;
	float: left;
	margin-left: -100%;
}

.rightcolumn {
	width: 20%;
	float: left;
	margin-left: -20%;
}

.inner {
	margin: 20px auto;
}

/* Books Thumbs */
.booksThumbs {
	font-size: 10px;
	padding: 10px 0;
}


/* Banners Block */
.bannersBlock {
	width: 200px;
	margin: 10px 10px;
}

.bannersBlock img {
	border: none;	
}


/* Footer 
.footer {
	margin: 10px;
	padding-top: 30px;
	overflow: hidden;
	font-size: 10px;
	color: #1c5180;
}
*/

.footer .logoBar {
	height: 30px;
}



/* Forms Styles */

form.search {
	width: 550px;
	margin: 0 auto;
}

fieldset {
	border-color: #fff;
	padding: 0px 15px;
	width: 510px;
	margin: 0;
	text-align: left;
}

legend label {
	font-size: 15px;
	margin: 0;
}

.row,
.buttons {
	padding: 4px 0;
	overflow: hidden;
	clear: both;
}

.buttons {
	margin-top: 20px;
}

.halfRow {
	width: 256px;
	float: left;
	padding: 4px 0;
	overflow: hidden;
}

.cell {
	margin: 0 5px 5px 5px;
	text-align: center;
	width: 80px;
}


input,
select {
	/*color: #bebebe;
	font-family: "Arian AMU", "Arial Armenian", "Arial AM";*/
	margin: 0;
	text-align: left;
}

select {
	border: 0;
	background: none;
	height: 22px;
	padding-top: 2px;
}

div.selSearch {
	width: 506px;
}

div.selSearch select {
	width: 508px;	
}

div.selSearch_med {
	width: 245px;
	float: left;
}

div.selSearch_sm {
	width: 100px;
	Xfloat: left;
	margin: 0 2px;
}

div.selSearch_med select {
	width: 247px;
}

div.selSearch_sm select {
	width: 114px;
}

div.selSearch,
div.selSearch_med,
div.selSearch_sm {
	height: 22px;
	/*border: 1px solid #1d4f80;
	background-color: #fff;*/
	position: relative;
	/*overflow: hidden;*/
}

* html div.selSearch,
* html div.selSearch_med,
* html div.selSearch_sm {
	height: 17px;
}
 

div.selSearch select,
div.selSearch_med select,
div.selSearch_sm select {
	position: absolute;
	top: -2px;
	left: -2px;
}

input.fldSearch,
input.fldSearch_sm {
	border: 1px solid #7F9DB9;
	Xpadding: 2px;
	height: 18px;
	line-height: 18px;
}

input.fldSearch {
	width: 500px;
	margin: 0;
}

input.fldSearch_sm {
	width: 245px;
	margin: 0 10px 0 0;
	float: left;
}

input.submitSearch {
	float: right;
	color: #000;
	cursor: pointer;
	width: 70px;
	text-align: center;
}

input.button {
	color: #000;
	cursor: pointer;
}


/* Search Results */
.resultsTable {
	font-size: 12px;
}



/* Document Page Styles */
.documentWrapper {
	width: 780px;
	margin: 0 auto;
	position: relative;
}

.documentHeader {
	height: 45px;
	padding-top: 20px;
	width: 780px;
	background: url(../../images/blueLine.gif) repeat-x 0 26px;
	margin-bottom: 10px;
}


.documentHeader a {
	text-decoration: none;
}

.documentHeader .logo,
.documentHeader .langSwitches {
	float: left;
	margin: 0 30px;
}

.documentHeader .F_Book,
.documentHeader .langSwitches {
	float: right;
	margin: 0 15px;
}

.documentBody {
	background-color: #fff;
	padding: 15px 15px 15px 15px;
	min-height: 800px;
	text-align: left !important; 
}


/* About US and Help pages Styles */
.innertube {
	width: 760px;
	margin: 20px auto;
	font-family: Arial, Sylfaen;
}

.innertube h2 {
	font-style: normal;	
}

/*--------------------------------------------------------*/
.watermarkOn {
    height:14px;
    width:150px;
    color:#bbb;
    font-style: italic;
    font-size:12px !important; 
    border:1px solid #BEBEBE;
}

ul.nav li a span {
	background: #E2E8ED url(../../images/navBgr.gif) no-repeat top left;
	display: block;
	line-height: 21px;
	padding-left: 40px;
	outline-width: 0px;
}

.frameLawList {
	/*padding: 5px 0;*/
	Xbackground: url(../../images/vBorder.gif) repeat-y left center;
	width:510px;
	height:300px;
	overflow:auto;
	
}

div.halfRowRight {
	width: 250px;
	float: right;
	padding: 1px 0;
	overflow: hidden;
	/*margin-left:10px;*/
}

/* Footer */
.footer {
	/*margin: 10px;
	padding-top: 30px;*/
	overflow: hidden;
	font-size: 10px;
	color: #1c5180;
	width: 100%;
	margin-top: 3px;
}

.frameWrapper {
	padding: 10px 0;
	background: url(../../images/vBorder.gif) repeat-y left center;
}

.tabWndSelected 
{
	/*height:650px; */
	display:block;  
}

.tabWnd 
{
	display:none;  
}

.bcolor {
	border-color: #7F9DB9 !important;
	background-color: #FFF !important;
}

.frameBorder {
	border: 1px solid #7F9DB9;
}


.language_button {
	/*border-color: #507da5;*/
	border-color: #507da5;
	border-style:solid;
	border-width:1px;
	/*visibility:hidden;*/    
	cursor: hand;           
}

.language_button_selected{
	cursor:pointer;  
	border-color: #507da5;
	border-color: black;
	border-style:solid;
	border-width:2px;    
}

.language_button_disabled
{
	filter: alpha(opacity=50); /* internet explorer */
	-khtml-opacity: 0.5;      /* khtml, old safari */
	-moz-opacity: 0.5;       /* mozilla, netscape */
	opacity: 0.5;			/* fx, safari, opera */
	cursor: default;           
}

/* Language Switches */
.langSwitches {
	float: right;
	margin-top: 4px;
}

.langSwitches a {
	text-decoration: none;
	float: left;
	margin-top: 3px;
	margin-right: 5px; 
}

.language_button {
	border-top: solid 1px #fff;
	border-right: solid 1px #507da5;
	border-bottom: solid 1px #507da5;
	border-left: solid 1px #fff;
	margin-right: 5px;
}

.langSwitches input.langSelected {
	border-top: solid 1px #507da5;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
	border-left: solid 1px #507da5;
}

.labelMarkWords {
	font-size:10px;
	letter-spacing:1px; 
	margin-right:10px; 
	vertical-align:super;
}

/*--------------------------------------------------------------*/
/*.loading {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:url(Images/Internal/transparent-pixel25.png);
	z-index:1000;
	height:100%;
}
*/
.modal_bg {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:url(../../images/transparent-pixel25.png);
	z-index:1000;
	height:100%;
}

/*--------------------------------------------------------------*/

	.pl_popup {
		/*margin-top:165px !important;*/
		width:408px;
		margin-left:auto;
		margin-right:auto;
		box-shadow:0 0 9px 9px #999;
		-moz-box-shadow:0 0 9px 9px #999;
		-webkit-box-shadow:0 0 9px 9px #999;
		border-radius:5px;
		-moz-border-radius:5px;
	}
	
		.pl_popup_top {
			padding:10px 17px 20px 17px;
			background:#fff;
			background: -moz-linear-gradient(100% 100% 90deg, #E9F5D6, #ffffff);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#E9F5D6));
			border-top-left-radius:5px;
			border-top-right-radius:5px;
			-moz-border-radius-topleft:5px;
			-moz-border-radius-topright:5px;
			color:#666;
		}
		
			.pl_popup_top img {
				float:left;
				margin-top:10px;
			}
		
			.pl_popup_top .pl_popup_text {
				float:left;
				width:316px;
				margin-top:5px;
				margin-left:10px;
				font-size:13px;
				word-wrap:break-word;
			}
			
				.pl_popup_top div span {
					font-size:18px;
					
				}
	
		.pl_popup_bottom {
			background:#e2e8ed;
			border-top:1px #BAD492 solid;
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;
			-moz-border-radius-bottomleft:5px;
			-moz-border-radius-bottomright:5px;
			padding:10px 0 20px 0;
			text-align:center;
		}
		
.clear {
	clear:both;
}

.publicationsYearSelector 
{
	height:200px;
}